USE [s001618_nfiGestaoEncomendas2]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 12/18/2014 21:52:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[IdCliente] [int] IDENTITY(1,1) NOT NULL,
	[NomeCliente] [nvarchar](max) NULL,
	[Anulado] [bit] NOT NULL,
	[NumCliente] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Clientes] PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Clientes] ON
INSERT [dbo].[Clientes] ([IdCliente], [NomeCliente], [Anulado], [NumCliente]) VALUES (7, N'Menuiserie-land', 0, 1)
INSERT [dbo].[Clientes] ([IdCliente], [NomeCliente], [Anulado], [NumCliente]) VALUES (8, N'Menu-mat', 0, 2)
INSERT [dbo].[Clientes] ([IdCliente], [NomeCliente], [Anulado], [NumCliente]) VALUES (9, N'Perrein', 0, 3)
SET IDENTITY_INSERT [dbo].[Clientes] OFF
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 12/18/2014 21:52:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[Discriminator] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [Discriminator]) VALUES (N'017f6188-a162-4c5d-884f-e629a36e94a1', N'ebarbosa@local', 0, N'AMvIE2shZspKIkOF5gflbzlNgJp/2Qs8e5BR/kPxFjwXtW8JY4AXgoaJz6J2Gal/Pw==', N'50cc03e2-10d3-43b6-9af0-29e69b0e3028', NULL, 0, 0, NULL, 1, 0, N'ebarbosa', N'IdentityUser')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [Discriminator]) VALUES (N'31da4710-62ae-46c2-b077-58ed9efe4cbe', N'mmartins@local', 0, N'AMOBVwAzEpwRNlzzhAq0+VlMmTa1tVsK0bi+COhSF3pjP2ts0fzsJEqRLP2uKXmQrg==', N'2dc5e445-ad01-4b3a-9e3f-3cbd623c6364', NULL, 0, 0, NULL, 1, 0, N'mmartins', N'IdentityUser')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [Discriminator]) VALUES (N'3618ac51-5e36-4105-adcc-a8b1e7f82c06', N'emanuel@local', 0, N'ANIJv4wY+aA4VyH6sCINCFjBqZ+pMrXENvVT7IR2XegFmo1IlLS3T2g1J6QKsBn4lg==', N'c46f8cfc-a200-4c6d-8cb3-5cae3966bcfc', NULL, 0, 0, NULL, 1, 0, N'emanuel', N'IdentityUser')
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 12/18/2014 21:52:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'14cc63fa-2949-417b-a928-62b6eef36f70', N'ADMIN')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'52a0a123-0587-460c-b758-cfceee995ee4', N'USER')
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 12/18/2014 21:52:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TipoEncomendas]    Script Date: 12/18/2014 21:52:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoEncomendas](
	[IdTipoEncomenda] [int] IDENTITY(1,1) NOT NULL,
	[NomeTipoEncomenda] [nvarchar](max) NULL,
	[Anulado] [bit] NOT NULL,
	[NumTipoEncomenda] [int] NOT NULL,
 CONSTRAINT [PK_dbo.TipoEncomendas] PRIMARY KEY CLUSTERED 
(
	[IdTipoEncomenda] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TipoEncomendas] ON
INSERT [dbo].[TipoEncomendas] ([IdTipoEncomenda], [NomeTipoEncomenda], [Anulado], [NumTipoEncomenda]) VALUES (7, N'Menuiserie', 0, 1)
INSERT [dbo].[TipoEncomendas] ([IdTipoEncomenda], [NomeTipoEncomenda], [Anulado], [NumTipoEncomenda]) VALUES (8, N'Portail', 0, 2)
INSERT [dbo].[TipoEncomendas] ([IdTipoEncomenda], [NomeTipoEncomenda], [Anulado], [NumTipoEncomenda]) VALUES (9, N'Portail sodée', 0, 3)
SET IDENTITY_INSERT [dbo].[TipoEncomendas] OFF
/****** Object:  Table [dbo].[Series]    Script Date: 12/18/2014 21:52:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Series](
	[NumSerie] [nvarchar](128) NOT NULL,
	[NomeSerie] [nvarchar](max) NULL,
	[Inativa] [bit] NOT NULL,
	[SerieDefeito] [bit] NOT NULL,
	[UltimoDoc] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Series] PRIMARY KEY CLUSTERED 
(
	[NumSerie] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Series] ([NumSerie], [NomeSerie], [Inativa], [SerieDefeito], [UltimoDoc]) VALUES (N'2013', N'Ano 2013', 0, 0, 1950)
INSERT [dbo].[Series] ([NumSerie], [NomeSerie], [Inativa], [SerieDefeito], [UltimoDoc]) VALUES (N'2014', N'Serie do Ano 2014', 0, 1, 2483)
INSERT [dbo].[Series] ([NumSerie], [NomeSerie], [Inativa], [SerieDefeito], [UltimoDoc]) VALUES (N'2014B', N'Serie do Ano 2014 2', 0, 0, 22)
/****** Object:  Table [dbo].[Operadores]    Script Date: 12/18/2014 21:52:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Operadores](
	[UtilizadorId] [int] IDENTITY(1,1) NOT NULL,
	[AspIdentityId] [nvarchar](max) NULL,
	[NomeCompleto] [nvarchar](100) NOT NULL,
	[NomeLogin] [nvarchar](15) NOT NULL,
	[Email] [nvarchar](200) NOT NULL,
	[ImagemAvatar] [nvarchar](50) NULL,
	[Ativo] [bit] NOT NULL,
	[Admin] [bit] NOT NULL,
	[CriadoData] [datetime] NOT NULL,
	[EditadoData] [datetime] NOT NULL,
	[EditadoPorId] [int] NULL,
	[EditadoPor_UtilizadorId] [int] NULL,
	[Anulado] [bit] NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Operadores] PRIMARY KEY CLUSTERED 
(
	[UtilizadorId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Operadores] ON
INSERT [dbo].[Operadores] ([UtilizadorId], [AspIdentityId], [NomeCompleto], [NomeLogin], [Email], [ImagemAvatar], [Ativo], [Admin], [CriadoData], [EditadoData], [EditadoPorId], [EditadoPor_UtilizadorId], [Anulado], [Password]) VALUES (11, N'9ff01e82-3c3c-4382-94a4-ba691f0f2057', N'Default', N'Default', N'Default@local', N'""', 1, 0, CAST(0x0000A3E8013DBED9 AS DateTime), CAST(0x0000A3E8013DBEDA AS DateTime), 11, 11, 0, N'827ccb0eea8a706c4c34a16891f84e7b')
INSERT [dbo].[Operadores] ([UtilizadorId], [AspIdentityId], [NomeCompleto], [NomeLogin], [Email], [ImagemAvatar], [Ativo], [Admin], [CriadoData], [EditadoData], [EditadoPorId], [EditadoPor_UtilizadorId], [Anulado], [Password]) VALUES (12, N'4878b1da-08bb-419e-a796-9251de13379c', N'Trofasoft', N'MasterAdmin', N'MasterAdmin@local', N'', 1, 1, CAST(0x0000A3E6012ECF51 AS DateTime), CAST(0x0000A3E6012ECF51 AS DateTime), NULL, NULL, 0, N'f32144e32aea4b83138df62f154246ca')
INSERT [dbo].[Operadores] ([UtilizadorId], [AspIdentityId], [NomeCompleto], [NomeLogin], [Email], [ImagemAvatar], [Ativo], [Admin], [CriadoData], [EditadoData], [EditadoPorId], [EditadoPor_UtilizadorId], [Anulado], [Password]) VALUES (13, N'8c5cabf5-509b-4aee-ab9a-a33291999baf', N'Vitor Martins', N'vmartins', N'vmartins@local', N'', 1, 1, CAST(0x0000A3F3017C68B2 AS DateTime), CAST(0x0000A3F3017C68B2 AS DateTime), 11, 11, 0, N'827ccb0eea8a706c4c34a16891f84e7b')
SET IDENTITY_INSERT [dbo].[Operadores] OFF
/****** Object:  Table [dbo].[Encomendas]    Script Date: 12/18/2014 21:52:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Encomendas](
	[IdEncomenda] [int] IDENTITY(1,1) NOT NULL,
	[NumDoc] [int] NOT NULL,
	[NomeArtigo] [nvarchar](max) NULL,
	[Cor] [nvarchar](max) NULL,
	[Painel] [nvarchar](max) NULL,
	[Producao] [nvarchar](max) NULL,
	[SemanaEntrega] [int] NOT NULL,
	[DataPedido] [datetime] NOT NULL,
	[DataExpedido] [datetime] NOT NULL,
	[Fatura] [nvarchar](max) NULL,
	[Notas] [nvarchar](max) NULL,
	[SerieDoc_NumSerie] [nvarchar](128) NULL,
	[Anulada] [bit] NOT NULL,
	[NumVaos] [int] NOT NULL,
	[Estado] [int] NOT NULL,
	[DataExpedidoString] [nvarchar](max) NULL,
	[Cliente_IdCliente] [int] NULL,
	[TipoEncomenda_IdTipoEncomenda] [int] NULL,
 CONSTRAINT [PK_dbo.Encomendas] PRIMARY KEY CLUSTERED 
(
	[IdEncomenda] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Encomendas] ON
INSERT [dbo].[Encomendas] ([IdEncomenda], [NumDoc], [NomeArtigo], [Cor], [Painel], [Producao], [SemanaEntrega], [DataPedido], [DataExpedido], [Fatura], [Notas], [SerieDoc_NumSerie], [Anulada], [NumVaos], [Estado], [DataExpedidoString], [Cliente_IdCliente], [TipoEncomenda_IdTipoEncomenda]) VALUES (1, 2238, N'Mcpalu', N'montant ', N'', N'', 0, CAST(0x0000A3E000000000 AS DateTime), CAST(0x0000A3F500000000 AS DateTime), N'', N'', N'2014', 0, 1, 0, N'', 45, 13)
INSERT [dbo].[Encomendas] ([IdEncomenda], [NumDoc], [NomeArtigo], [Cor], [Painel], [Producao], [SemanaEntrega], [DataPedido], [DataExpedido], [Fatura], [Notas], [SerieDoc_NumSerie], [Anulada], [NumVaos], [Estado], [DataExpedidoString], [Cliente_IdCliente], [TipoEncomenda_IdTipoEncomenda]) VALUES (2, 2237, N'Dominguez', N'3004', N'', N'', 2, CAST(0x0000A3DF00000000 AS DateTime), CAST(0x0000A3F500000000 AS DateTime), N'', N'', N'2014', 0, 1, 0, N'', 7, 8)
INSERT [dbo].[Encomendas] ([IdEncomenda], [NumDoc], [NomeArtigo], [Cor], [Painel], [Producao], [SemanaEntrega], [DataPedido], [DataExpedido], [Fatura], [Notas], [SerieDoc_NumSerie], [Anulada], [NumVaos], [Estado], [DataExpedidoString], [Cliente_IdCliente], [TipoEncomenda_IdTipoEncomenda]) VALUES (3, 2236, N'Cesista', N'chêne doré ext/blc int', N'', N'', 0, CAST(0x0000A3DF00000000 AS DateTime), CAST(0x0000A40300000000 AS DateTime), N'', N'', N'2014', 0, 1, 1, N'', 40, 7)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
GO
print 'Processed 1500 total records'
SET IDENTITY_INSERT [dbo].[Encomendas] OFF
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 12/18/2014 21:52:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'017f6188-a162-4c5d-884f-e629a36e94a1', N'52a0a123-0587-460c-b758-cfceee995ee4')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'31da4710-62ae-46c2-b077-58ed9efe4cbe', N'52a0a123-0587-460c-b758-cfceee995ee4')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'3618ac51-5e36-4105-adcc-a8b1e7f82c06', N'14cc63fa-2949-417b-a928-62b6eef36f70')
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 12/18/2014 21:52:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 12/18/2014 21:52:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Default [DF__Clientes__Anulad__1273C1CD]    Script Date: 12/18/2014 21:52:39 ******/
ALTER TABLE [dbo].[Clientes] ADD  DEFAULT ((0)) FOR [Anulado]
GO
/****** Object:  Default [DF__Clientes__NumCli__1367E606]    Script Date: 12/18/2014 21:52:39 ******/
ALTER TABLE [dbo].[Clientes] ADD  DEFAULT ((0)) FOR [NumCliente]
GO
/****** Object:  Default [DF__Encomenda__Anula__145C0A3F]    Script Date: 12/18/2014 21:52:39 ******/
ALTER TABLE [dbo].[Encomendas] ADD  DEFAULT ((0)) FOR [Anulada]
GO
/****** Object:  Default [DF__Encomenda__Estad__15502E78]    Script Date: 12/18/2014 21:52:39 ******/
ALTER TABLE [dbo].[Encomendas] ADD  DEFAULT ((0)) FOR [Estado]
GO
/****** Object:  Default [DF__Operadore__Anula__164452B1]    Script Date: 12/18/2014 21:52:39 ******/
ALTER TABLE [dbo].[Operadores] ADD  DEFAULT ((0)) FOR [Anulado]
GO
/****** Object:  Default [DF__Operadore__Passw__173876EA]    Script Date: 12/18/2014 21:52:39 ******/
ALTER TABLE [dbo].[Operadores] ADD  DEFAULT ('') FOR [Password]
GO
/****** Object:  Default [DF__Series__UltimoDo__182C9B23]    Script Date: 12/18/2014 21:52:39 ******/
ALTER TABLE [dbo].[Series] ADD  DEFAULT ((0)) FOR [UltimoDoc]
GO
/****** Object:  Default [DF__TipoEncom__NumTi__1920BF5C]    Script Date: 12/18/2014 21:52:39 ******/
ALTER TABLE [dbo].[TipoEncomendas] ADD  DEFAULT ((0)) FOR [NumTipoEncomenda]
GO
/****** Object:  ForeignKey [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]    Script Date: 12/18/2014 21:52:39 ******/
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
/****** Object:  ForeignKey [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]    Script Date: 12/18/2014 21:52:39 ******/
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
/****** Object:  ForeignKey [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]    Script Date: 12/18/2014 21:52:39 ******/
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
/****** Object:  ForeignKey [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]    Script Date: 12/18/2014 21:52:39 ******/
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
/****** Object:  ForeignKey [FK_dbo.Encomendas_dbo.Clientes_Cliente_IdCliente]    Script Date: 12/18/2014 21:52:39 ******/
ALTER TABLE [dbo].[Encomendas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Encomendas_dbo.Clientes_Cliente_IdCliente] FOREIGN KEY([Cliente_IdCliente])
REFERENCES [dbo].[Clientes] ([IdCliente])
GO
ALTER TABLE [dbo].[Encomendas] CHECK CONSTRAINT [FK_dbo.Encomendas_dbo.Clientes_Cliente_IdCliente]
GO
/****** Object:  ForeignKey [FK_dbo.Encomendas_dbo.Series_SerieDoc_NumSerie]    Script Date: 12/18/2014 21:52:39 ******/
ALTER TABLE [dbo].[Encomendas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Encomendas_dbo.Series_SerieDoc_NumSerie] FOREIGN KEY([SerieDoc_NumSerie])
REFERENCES [dbo].[Series] ([NumSerie])
GO
ALTER TABLE [dbo].[Encomendas] CHECK CONSTRAINT [FK_dbo.Encomendas_dbo.Series_SerieDoc_NumSerie]
GO
/****** Object:  ForeignKey [FK_dbo.Encomendas_dbo.TipoEncomendas_TipoEncomenda_IdTipoEncomenda]    Script Date: 12/18/2014 21:52:39 ******/
ALTER TABLE [dbo].[Encomendas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Encomendas_dbo.TipoEncomendas_TipoEncomenda_IdTipoEncomenda] FOREIGN KEY([TipoEncomenda_IdTipoEncomenda])
REFERENCES [dbo].[TipoEncomendas] ([IdTipoEncomenda])
GO
ALTER TABLE [dbo].[Encomendas] CHECK CONSTRAINT [FK_dbo.Encomendas_dbo.TipoEncomendas_TipoEncomenda_IdTipoEncomenda]
GO
/****** Object:  ForeignKey [FK_dbo.Operadores_dbo.Operadores_EditadoPor_UtilizadorId]    Script Date: 12/18/2014 21:52:39 ******/
ALTER TABLE [dbo].[Operadores]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Operadores_dbo.Operadores_EditadoPor_UtilizadorId] FOREIGN KEY([EditadoPor_UtilizadorId])
REFERENCES [dbo].[Operadores] ([UtilizadorId])
GO
ALTER TABLE [dbo].[Operadores] CHECK CONSTRAINT [FK_dbo.Operadores_dbo.Operadores_EditadoPor_UtilizadorId]
GO
/****** Object:  ForeignKey [FK_dbo.Operadores_dbo.Operadores_EditadoPorId]    Script Date: 12/18/2014 21:52:39 ******/
ALTER TABLE [dbo].[Operadores]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Operadores_dbo.Operadores_EditadoPorId] FOREIGN KEY([EditadoPorId])
REFERENCES [dbo].[Operadores] ([UtilizadorId])
GO
ALTER TABLE [dbo].[Operadores] CHECK CONSTRAINT [FK_dbo.Operadores_dbo.Operadores_EditadoPorId]
GO
