<div class="" ng-controller="SetorEditCtrl">
    <div class="panel panel-default">
        <div class="panel-heading">
            <ul class="nav nav-pills pull-right">
                <li><a href="" class="" ui-sref="app.setores.edit({id: 0})"><i class="glyphicon glyphicon-plus"></i>Novo</a></li>
                <li><a href="" class="" ui-sref="app.setores.edit({id: dados.idAnt})"><i class="fa fa-arrow-left"></i></a></li>
                <li><a href="" class="" ui-sref="app.setores.edit({id: dados.idProx})"><i class="fa fa-arrow-right"></i></a></li>
            </ul>
            Editar setor
        </div>
        <div class="panel-body">
            <form name="form" class="form-horizontal form-validation" ng-submit="submit()">
                <div class="form-group">
                    <label class="col-lg-2 control-label">Num setor</label>
                    <div class="col-lg-4">
                        <input ng-model="setor.numSetor" ui-jq="TouchSpin" type="text" class="form-control" name="numsetor" data-min='0'
                               data-verticalbuttons="true" data-verticalupclass="fa fa-caret-up" data-verticaldownclass="fa fa-caret-down">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label" required>Nome</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" name="nome" placeholder="Nome" ng-model="setor.nome" required ng-minlength="3">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label"></label>
                    <div class="col-lg-10">
                        <label class="checkbox-inline">
                            <input type="checkbox" ng-model="setor.anulado"> Anulado
                        </label>                  
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <button type="submit" class="btn btn-info" ng-disabled="form.$invalid">Guardar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


