<form name="encExpedido" ng-submit="ok()" class=" form-validation" >
    <div class="modal-header">
        <h3 class="modal-title">Fechar encomenda</h3>
    </div>
    <div class="modal-body">
        Marcar encomenda como entregue
        <div class="form-group">
            <label class="control-label"><strong>Data Expedido</strong></label>
            <div class="input-group w-md">
                <div class="input-group w-md">
                    <input type="text" class="form-control" name="encDataExp" ng-model="ModalEncomenda.dataExpedidoString" ng-required="true" />

                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label"><strong>Fatura</strong></label>
            <div class="input-group w-md">
                <div class="input-group w-md">
                    <input type="text" class="form-control" ng-model="ModalEncomenda.fatura" ng-required="true" />
                </div>
            </div>
        </div>


    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="cancel()">Cancelar</button>
        <button type="submit" class="btn btn-info" ng-disabled="encExpedido.$invalid">Guardar</button>
    </div>

</form>

