<div class="hbox hbox-auto-xs hbox-auto-sm dashboard" ng-if="_utilizador != null" ng-init="
    app.settings.asideFolded = false;
    app.Sem.asideDock = false;
  " ng-controller="DashboardCtrl">
    <!-- main -->
    <div class="panel panel-default" style="margin-bottom:0px;">
        <div class="panel-heading">
            <ul class="nav nav-pills pull-right">
                <li style="padding-top:2px;">
                    <label class="col-md-3 control-label no-padding" style="padding-top:5px;">Desde: </label>
                    <div class="col-md-4 no-padding-l">
                        <input type="text" class="form-control" style="width:auto;" datepicker-popup="yyyy-MM-dd" ng-model="dataDesde" is-open="dataDesdeOpen" ng-required="true" ng-if="dataDesde != 'n'"
                               ng-focus="dataDesdeOpen = true;" close-text="Close" datetimepicker-neutral-timezone />
                    </div>
                </li>
                <li ng-if="_utilizador.comercial === false">
                    <li>
                        <a style="padding-left:0; padding-right:0px;" ng-click="atualizaDashboard()"> <i class="glyphicon glyphicon-refresh"></i>&nbsp;&nbsp;</a>
                    </li>
                    <li style="border-left: 1px solid #ddd; height:41px;">&nbsp;</li>
                    <li><a ui-sref="app.encomendas.edit({serie: 0, num: 0})"><i class="glyphicon glyphicon-plus"></i>Nova encomenda1</a></li>
                    <li><a ui-sref="app.savs.edit({ serie: 0, num: 0})"><i class="glyphicon glyphicon-plus"></i>Nova SAV1</a></li>
                </li>
            </ul>
            Dashboard (teste)
        </div>
    </div>
    <div class="wrapper-md" style="padding-top: 5px;">
        <!-- stats -->
        <div class="row">
            <div class="col-md-6">
                <div class="row row-sm text-center">
                    <div class="col-xs-3">
                        <div class="panel padder-v item">
                            <div class="h1 text-info font-thin h1">{{dados.totalEncomendas}}</div>
                            <span class="text-muted text-xs">Total Encomendas</span>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="block panel padder-v bg-primary item">
                            <span class="text-white font-thin h1 block">{{dados.totalPendentes}}</span>
                            <span class="text-muted text-xs">Total Pendentes</span>

                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="block panel padder-v bg-info item">
                            <span class="text-white font-thin h1 block">{{dados.totalProducao}}</span>
                            <span class="text-muted text-xs">Total Em Produção</span>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="panel padder-v item">
                            <div class="font-thin h1">{{dados.totalExpedidas}}</div>
                            <span class="text-muted text-xs">Total Expedidas</span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="row row-sm text-center">
                    <div class="col-xs-3">
                        <div class="panel padder-v item">
                            <div class="h1 text-info font-thin h1">{{dados.totalCaixilhos}}</div>
                            <span class="text-muted text-xs">Caixilhos</span>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="block panel padder-v bg-primary item">
                            <span class="text-white font-thin h1 block">{{dados.totalPortoesAp}}</span>
                            <span class="text-muted text-xs">Portões Ap.</span>

                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="block panel padder-v bg-info item">
                            <span class="text-white font-thin h1 block">{{dados.totalPortoesSold}}</span>
                            <span class="text-muted text-xs">Portões Sold</span>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="panel padder-v item">
                            <div class="font-thin h1">{{dados.totalEstores}}</div>
                            <span class="text-muted text-xs">Estores</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <style type="text/css">
            .dashboard .dashboard-row .col-md-4 .form-group { margin-bottom: 0px; padding-left: 20px; }

            .dashboard-row .col-md-4 .form-group p { margin-bottom: 0px; }

            .dashboard .dashboard-row .col-md-4 .overlay { width: 90%; height: 90%; background-color: white; top: 50px; }

            .dashboard accordion .panel-body { padding: 0; }

            .dashboard .padding-0 td { padding: 0; font-size: 12px; }

            .dashboard .padding-0 thead th { padding: 0; text-align: left; }
        </style>
        <div class="row">
            <accordion close-others="true">
                <accordion-group collapse="semSemanaEntregaOpen()" is-open="status.semSemanaEntregaOpened">
                    <accordion-heading>
                        Encomendas Sem Semana de Entrega  <b class="badge bg-info pull-right">{{dados.totalEncSemSemana}}</b>
                    </accordion-heading>
                    <div class="table-responsive">
                        <table class="table table-striped table-striped2 b-t b-light padding-0">
                            <thead>
                                <tr>
                                    <th>Doc</th>
                                    <th>Cliente</th>
                                    <th>Nome Obra</th>
                                    <th>Tipo Enc</th>
                                    <th>V</th>
                                    <th>Cores</th>
                                    <th>Data Pedido</th>
                                    <th>S.E.</th>
                                    <th>Estado</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr bindonce ng-repeat="encomenda in encomendasSemSemana.encomendas">
                                    <td bo-bind="encomenda.serieNumEncomenda"></td>
                                    <td bo-bind="encomenda.nomeCliente"></td>
                                    <td bo-bind="encomenda.nomeArtigo"></td>
                                    <td bo-bind="encomenda.nomeTipoEncomenda"></td>
                                    <td bo-bind="encomenda.numVaos"></td>
                                    <td bo-bind="encomenda.cor"></td>
                                    <td bo-bind="encomenda.dataPedidoString"></td>
                                    <td bo-bind="encomenda.semanaEntrega"></td>
                                    <td bo-bind="encomenda.estadoDesc"> </td>
                                    <td width="50px" ng-if="_utilizador.comercial === false">
                                        <i style="font-size: 18px; color:red; margin-top:2px;" class="fa fa-square-o" ng-if="!encomenda.comprasOK"></i>
                                        <i style="font-size: 18px;  margin-top:2px;" class="fa fa-check-square-o" ng-if="encomenda.comprasOK"></i>
                                        <div class="btn-group dropdown pull-right">
                                            <button class="btn btn-default btn-xs dropdown-toggle" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                                <li ng-show="encomenda.estado == 0"><a href="" ng-click="marcarProducao(encomenda)">Marcar como "Em Produção"</a></li>
                                                <li><a ng-click="marcarComoEntregue(encomenda)">Marcar como Entregue</a></li>
                                                <li><a href="" ng-click="marcarCancelada(encomenda)">Marcar como Cancelada</a></li>
                                                <li><a href="" ui-sref="app.encomendas.edit({serie: encomenda.nomeSerie, num:encomenda.numDoc  })">Editar Detalhes </a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </accordion-group>
                <accordion-group collapse="encAtrasadaOpen()" is-open="status.encAtrasadaOpened">
                    <accordion-heading>
                        Encomendas Em Atraso  <b class="badge bg-info pull-right">{{dados.totalEncAtrasada}}</b>
                    </accordion-heading>
                    <div class="table-responsive">
                        <table class="table table-striped table-striped2 b-t b-light padding-0">
                            <thead>
                                <tr>
                                    <th>Doc</th>
                                    <th>Cliente</th>
                                    <th>Nome Obra</th>
                                    <th>Tipo Enc</th>
                                    <th>V</th>
                                    <th>Cores</th>

                                    <th>Data Pedido</th>
                                    <th>S.E.</th>
                                    <th>Estado</th>
                                    <th style=""></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr bindonce ng-repeat="encomenda in encomendasAtrasadas.encomendas">
                                    <td bo-bind="encomenda.serieNumEncomenda"></td>
                                    <td bo-bind="encomenda.nomeCliente"></td>
                                    <td bo-bind="encomenda.nomeArtigo"></td>
                                    <td bo-bind="encomenda.nomeTipoEncomenda"></td>
                                    <td bo-bind="encomenda.numVaos"></td>
                                    <td bo-bind="encomenda.cor"></td>

                                    <td bo-bind="encomenda.dataPedidoString"></td>
                                    <td bo-bind="encomenda.semanaEntrega"></td>
                                    <td bo-bind="encomenda.estadoDesc"> </td>
                                    <td width="50px" ng-if="_utilizador.comercial === false">
                                        <i style="font-size: 18px; color:red; margin-top:2px;" class="fa fa-square-o" ng-if="!encomenda.comprasOK"></i>
                                        <i style="font-size: 18px;  margin-top:2px;" class="fa fa-check-square-o" ng-if="encomenda.comprasOK"></i>
                                        <div class="btn-group dropdown pull-right">
                                            <button class="btn btn-default btn-xs dropdown-toggle" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                                <li ng-show="encomenda.estado == 0"><a href="" ng-click="marcarProducao(encomenda)">Marcar como "Em Produção"</a></li>
                                                <li><a ng-click="marcarComoEntregue(encomenda)">Marcar como Entregue</a></li>
                                                <li><a href="" ng-click="marcarCancelada(encomenda)">Marcar como Cancelada</a></li>
                                                <li><a href="" ui-sref="app.encomendas.edit({serie: encomenda.nomeSerie, num:encomenda.numDoc  })">Editar Detalhes </a></li>

                                            </ul>
                                        </div>
                                    </td>


                                </tr>

                            </tbody>
                        </table>
                    </div>
                </accordion-group>
                <accordion-group collapse="encProducaoOpen()" is-open="status.producaoOpened">
                    <accordion-heading>
                        Encomendas Em Produção  <b class="badge bg-info pull-right">{{dados.totalProducao}}</b>
                    </accordion-heading>
                    <div class="table-responsive">
                        <table class="table table-striped table-striped2 b-t b-light padding-0">
                            <thead>
                                <tr>
                                    <th>Doc</th>
                                    <th>Cliente</th>
                                    <th>Nome Obra</th>
                                    <th>Tipo Enc</th>
                                    <th>V</th>
                                    <th>Cores</th>
                                    <th>Data Pedido</th>
                                    <th>S.E.</th>
                                    <th>Estado</th>
                                    <th style=""></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr bindonce ng-repeat="encomenda in encomendasProducao.encomendas">
                                    <td bo-bind="encomenda.serieNumEncomenda"></td>
                                    <td bo-bind="encomenda.nomeCliente"></td>
                                    <td bo-bind="encomenda.nomeArtigo"></td>
                                    <td bo-bind="encomenda.nomeTipoEncomenda"></td>
                                    <td bo-bind="encomenda.numVaos"></td>
                                    <td bo-bind="encomenda.cor"></td>
                                    <td bo-bind="encomenda.dataPedidoString"></td>
                                    <td bo-bind="encomenda.semanaEntrega"></td>
                                    <td bo-bind="encomenda.estadoDesc"> </td>
                                    <td width="50px" ng-if="_utilizador.comercial === false">
                                        <i style="font-size: 18px; color:red; margin-top:2px;" class="fa fa-square-o" ng-if="!encomenda.comprasOK"></i>
                                        <i style="font-size: 18px;  margin-top:2px;" class="fa fa-check-square-o" ng-if="encomenda.comprasOK"></i>
                                        <div class="btn-group dropdown pull-right">
                                            <button class="btn btn-default btn-xs dropdown-toggle" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                                <li ng-show="encomenda.estado == 0"><a href="" ng-click="marcarProducao(encomenda)">Marcar como "Em Produção"</a></li>
                                                <li><a ng-click="marcarComoEntregue(encomenda)">Marcar como Entregue</a></li>
                                                <li><a href="" ui-sref="app.encomendas.edit({serie: encomenda.nomeSerie, num:encomenda.numDoc  })">Editar Detalhes </a></li>
                                                <li><a href="" ng-click="marcarCancelada(encomenda)">Marcar como Cancelada</a></li>
                                            </ul>
                                        </div>
                                    </td>


                                </tr>

                            </tbody>
                        </table>
                    </div>


                </accordion-group>
                <accordion-group collapse="encCompraPendentesOpen()" is-open="status.semCompraOpened">
                    <accordion-heading>
                        Encomendas Com Compras Pendentes<b class="badge bg-info pull-right">{{dados.totalComprasPendentes}}</b>
                    </accordion-heading>
                    <div class="table-responsive">
                        <table class="table table-striped table-striped2 b-t b-light padding-0">
                            <thead>
                                <tr>
                                    <th>Doc</th>
                                    <th>Cliente</th>
                                    <th>Nome Obra</th>
                                    <th>Tipo Enc</th>
                                    <th>V</th>
                                    <th>Cores</th>
                                    <th>Data Pedido</th>
                                    <th>S.E.</th>
                                    <th>Estado</th>
                                    <th style=""></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr bindonce ng-repeat="encomenda in encomendasComprasPendentes.encomendas">
                                    <td bo-bind="encomenda.serieNumEncomenda"></td>
                                    <td bo-bind="encomenda.nomeCliente"></td>
                                    <td bo-bind="encomenda.nomeArtigo"></td>
                                    <td bo-bind="encomenda.nomeTipoEncomenda"></td>
                                    <td bo-bind="encomenda.numVaos"></td>
                                    <td bo-bind="encomenda.cor"></td>
                                    <td bo-bind="encomenda.dataPedidoString"></td>
                                    <td bo-bind="encomenda.semanaEntrega"></td>
                                    <td bo-bind="encomenda.estadoDesc"> </td>
                                    <td width="50px" ng-if="_utilizador.comercial === false">
                                        <i style="font-size: 18px; color:red; margin-top:2px;" class="fa fa-square-o" ng-if="!encomenda.comprasOK"></i>
                                        <i style="font-size: 18px;  margin-top:2px;" class="fa fa-check-square-o" ng-if="encomenda.comprasOK"></i>
                                        <div class="btn-group dropdown pull-right">
                                            <button class="btn btn-default btn-xs dropdown-toggle" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                                <li ng-show="encomenda.estado == 0"><a href="" ng-click="marcarsemCompra(encomenda)">Marcar como "Em Produção"</a></li>
                                                <li><a ng-click="marcarComoEntregue(encomenda)">Marcar como Entregue</a></li>
                                                <li><a href="" ui-sref="app.encomendas.edit({serie: encomenda.nomeSerie, num:encomenda.numDoc  })">Editar Detalhes </a></li>
                                                <li><a href="" ng-click="marcarCancelada(encomenda)">Marcar como Cancelada</a></li>
                                            </ul>
                                        </div>
                                    </td>


                                </tr>

                            </tbody>
                        </table>
                    </div>


                </accordion-group>
                <accordion-group collapse="encEstaSemanaOpen()" is-open="status.encEstaSemanaOpened">
                    <accordion-heading>
                        Encomendas para entrega esta semana  <b class="badge bg-info pull-right">{{dados.totalEncEstaSemana}}</b>
                    </accordion-heading>
                    <div class="table-responsive">
                        <table class="table table-striped table-striped2 b-t b-light padding-0">
                            <thead>
                                <tr>
                                    <th>Doc</th>
                                    <th>Cliente</th>
                                    <th>Nome Obra</th>
                                    <th>Tipo Enc</th>
                                    <th>V</th>
                                    <th>Cores</th>
                                    <th>Data Pedido</th>
                                    <th>S.E.</th>
                                    <th>Estado</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr bindonce ng-repeat="encomenda in encomendasEstaSemana.encomendas">
                                    <td bo-bind="encomenda.serieNumEncomenda"></td>
                                    <td bo-bind="encomenda.nomeCliente"></td>
                                    <td bo-bind="encomenda.nomeArtigo"></td>
                                    <td bo-bind="encomenda.nomeTipoEncomenda"></td>
                                    <td bo-bind="encomenda.numVaos"></td>
                                    <td bo-bind="encomenda.cor"></td>

                                    <td bo-bind="encomenda.dataPedidoString"></td>
                                    <td bo-bind="encomenda.semanaEntrega"></td>
                                    <td bo-bind="encomenda.estadoDesc"> </td>
                                    <td width="50px" ng-if="_utilizador.comercial === false">
                                        <i style="font-size: 18px; color:red; margin-top:2px;" class="fa fa-square-o" ng-if="!encomenda.comprasOK"></i>
                                        <i style="font-size: 18px;  margin-top:2px;" class="fa fa-check-square-o" ng-if="encomenda.comprasOK"></i>
                                        <div class="btn-group dropdown pull-right">
                                            <button class="btn btn-default btn-xs dropdown-toggle" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                                <li ng-show="encomenda.estado == 0"><a href="" ng-click="marcarProducao(encomenda)">Marcar como "Em Produção"</a></li>
                                                <li><a ng-click="marcarComoEntregue(encomenda)">Marcar como Entregue</a></li>
                                                <li><a href="" ng-click="marcarCancelada(encomenda)">Marcar como Cancelada</a></li>
                                                <li><a href="" ui-sref="app.encomendas.edit({serie: encomenda.nomeSerie, num:encomenda.numDoc  })">Editar Detalhes </a></li>

                                            </ul>
                                        </div>
                                    </td>


                                </tr>

                            </tbody>
                        </table>
                    </div>
                </accordion-group>
                <accordion-group collapse="enc1SemanaOpen()" is-open="status.enc1SemanaOpened">
                    <accordion-heading>
                        Encomendas para entrega daqui a 1 semana  <b class="badge bg-info pull-right">{{dados.totalEncProxSemana1}}</b>
                    </accordion-heading>
                    <div class="table-responsive">
                        <table class="table table-striped table-striped2 b-t b-light padding-0">
                            <thead>
                                <tr>
                                    <th>Doc</th>
                                    <th>Cliente</th>
                                    <th>Nome Obra</th>
                                    <th>Tipo Enc</th>
                                    <th>V</th>
                                    <th>Cores</th>
                                    <th>Data Pedido</th>
                                    <th>S.E.</th>
                                    <th>Estado</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr bindonce ng-repeat="encomenda in encomendas1Semana.encomendas">
                                    <td bo-bind="encomenda.serieNumEncomenda"></td>
                                    <td bo-bind="encomenda.nomeCliente"></td>
                                    <td bo-bind="encomenda.nomeArtigo"></td>
                                    <td bo-bind="encomenda.nomeTipoEncomenda"></td>
                                    <td bo-bind="encomenda.numVaos"></td>
                                    <td bo-bind="encomenda.cor"></td>

                                    <td bo-bind="encomenda.dataPedidoString"></td>
                                    <td bo-bind="encomenda.semanaEntrega"></td>
                                    <td bo-bind="encomenda.estadoDesc"> </td>
                                    <td width="50px"ng-if="_utilizador.comercial === false">
                                        <i style="font-size: 18px; color:red; margin-top:2px;" class="fa fa-square-o" ng-if="!encomenda.comprasOK"></i>
                                        <i style="font-size: 18px;  margin-top:2px;" class="fa fa-check-square-o" ng-if="encomenda.comprasOK"></i>
                                        <div class="btn-group dropdown pull-right">
                                            <button class="btn btn-default btn-xs dropdown-toggle" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                                <li ng-show="encomenda.estado == 0"><a href="" ng-click="marcarProducao(encomenda)">Marcar como "Em Produção"</a></li>
                                                <li><a ng-click="marcarComoEntregue(encomenda)">Marcar como Entregue</a></li>
                                                <li><a href="" ng-click="marcarCancelada(encomenda)">Marcar como Cancelada</a></li>
                                                <li><a href="" ui-sref="app.encomendas.edit({serie: encomenda.nomeSerie, num:encomenda.numDoc  })">Editar Detalhes </a></li>
                                            </ul>
                                        </div>
                                    </td>


                                </tr>

                            </tbody>
                        </table>
                    </div>


                </accordion-group>
                <accordion-group collapse="enc2SemanaOpen()" is-open="status.enc2SemanaOpened">
                    <accordion-heading>
                        Encomendas para entrega daqui a 2 semanas  <b class="badge bg-info pull-right">{{dados.totalEncProxSemana2}}</b>
                    </accordion-heading>
                    <div class="table-responsive">
                        <table class="table table-striped table-striped2 b-t b-light padding-0">
                            <thead>
                                <tr>
                                    <th>Doc</th>
                                    <th>Cliente</th>
                                    <th>Nome Obra</th>
                                    <th>Tipo Enc</th>
                                    <th>V</th>
                                    <th>Cores</th>

                                    <th>Data Pedido</th>
                                    <th>S.E.</th>
                                    <th>Estado</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr bindonce ng-repeat="encomenda in encomendas2Semana.encomendas">
                                    <td bo-bind="encomenda.serieNumEncomenda"></td>
                                    <td bo-bind="encomenda.nomeCliente"></td>
                                    <td bo-bind="encomenda.nomeArtigo"></td>
                                    <td bo-bind="encomenda.nomeTipoEncomenda"></td>
                                    <td bo-bind="encomenda.numVaos"></td>
                                    <td bo-bind="encomenda.cor"></td>

                                    <td bo-bind="encomenda.dataPedidoString"></td>
                                    <td bo-bind="encomenda.semanaEntrega"></td>
                                    <td bo-bind="encomenda.estadoDesc"> </td>
                                    <td width="50px" ng-if="_utilizador.comercial === false">
                                        <i style="font-size: 18px; color:red; margin-top:2px;" class="fa fa-square-o" ng-if="!encomenda.comprasOK"></i>
                                        <i style="font-size: 18px;  margin-top:2px;" class="fa fa-check-square-o" ng-if="encomenda.comprasOK"></i>
                                        <div class="btn-group dropdown pull-right">
                                            <button class="btn btn-default btn-xs dropdown-toggle" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                                <li ng-show="encomenda.estado == 0"><a href="" ng-click="marcarProducao(encomenda)">Marcar como "Em Produção"</a></li>
                                                <li><a ng-click="marcarComoEntregue(encomenda)">Marcar como Entregue</a></li>
                                                <li><a href="" ng-click="marcarCancelada(encomenda)">Marcar como Cancelada</a></li>
                                                <li><a href="" ui-sref="app.encomendas.edit({serie: encomenda.nomeSerie, num:encomenda.numDoc  })">Editar Detalhes </a></li>

                                            </ul>
                                        </div>
                                    </td>


                                </tr>

                            </tbody>
                        </table>
                    </div>


                </accordion-group>
                <accordion-group collapse="enc3SemanaOpen()" is-open="status.enc3SemanaOpened">
                    <accordion-heading>
                        Encomendas para entrega daqui a 3 semanas  <b class="badge bg-info pull-right">{{dados.totalEncProxSemana3}}</b>
                    </accordion-heading>
                    <div class="table-responsive">
                        <table class="table table-striped table-striped2 b-t b-light padding-0">
                            <thead>
                                <tr>
                                    <th>Doc</th>
                                    <th>Cliente</th>
                                    <th>Nome Obra</th>
                                    <th>Tipo Enc</th>
                                    <th>V</th>
                                    <th>Cores</th>
                                    <th>Data Pedido</th>
                                    <th>S.E.</th>
                                    <th>Estado</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr bindonce ng-repeat="encomenda in encomendas3Semana.encomendas">
                                    <td bo-bind="encomenda.serieNumEncomenda"></td>
                                    <td bo-bind="encomenda.nomeCliente"></td>
                                    <td bo-bind="encomenda.nomeArtigo"></td>
                                    <td bo-bind="encomenda.nomeTipoEncomenda"></td>
                                    <td bo-bind="encomenda.numVaos"></td>
                                    <td bo-bind="encomenda.cor"></td>

                                    <td bo-bind="encomenda.dataPedidoString"></td>
                                    <td bo-bind="encomenda.semanaEntrega"></td>
                                    <td bo-bind="encomenda.estadoDesc"> </td>
                                    <td width="50px"ng-if="_utilizador.comercial === false">
                                        <i style="font-size: 18px; color:red; margin-top:2px;" class="fa fa-square-o" ng-if="!encomenda.comprasOK"></i>
                                        <i style="font-size: 18px;  margin-top:2px;" class="fa fa-check-square-o" ng-if="encomenda.comprasOK"></i>
                                        <div class="btn-group dropdown pull-right">
                                            <button class="btn btn-default btn-xs dropdown-toggle" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                                <li ng-show="encomenda.estado == 0"><a href="" ng-click="marcarProducao(encomenda)">Marcar como "Em Produção"</a></li>
                                                <li><a ng-click="marcarComoEntregue(encomenda)">Marcar como Entregue</a></li>
                                                <li><a href="" ng-click="marcarCancelada(encomenda)">Marcar como Cancelada</a></li>
                                                <li><a href="" ui-sref="app.encomendas.edit({serie: encomenda.nomeSerie, num:encomenda.numDoc  })">Editar Detalhes </a></li>

                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </accordion-group>
                <accordion-group collapse="enc4SemanaOpen()" is-open="status.enc4SemanaOpened">
                    <accordion-heading>
                        Encomendas para entrega daqui a 4 semanas ou mais  <b class="badge bg-info pull-right">{{dados.totalEncProxSemana4mais}}</b>
                    </accordion-heading>
                    <div class="table-responsive">
                        <table class="table table-striped table-striped2 b-t b-light padding-0">
                            <thead>
                                <tr>
                                    <th>Doc</th>
                                    <th>Cliente</th>
                                    <th>Nome Obra</th>
                                    <th>Tipo Enc</th>
                                    <th>V</th>
                                    <th>Cores</th>

                                    <th>Data Pedido</th>
                                    <th>S.E.</th>
                                    <th>Estado</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr bindonce ng-repeat="encomenda in encomendas4Semana.encomendas">
                                    <td bo-bind="encomenda.serieNumEncomenda"></td>
                                    <td bo-bind="encomenda.nomeCliente"></td>
                                    <td bo-bind="encomenda.nomeArtigo"></td>
                                    <td bo-bind="encomenda.nomeTipoEncomenda"></td>
                                    <td bo-bind="encomenda.numVaos"></td>
                                    <td bo-bind="encomenda.cor"></td>

                                    <td bo-bind="encomenda.dataPedidoString"></td>
                                    <td bo-bind="encomenda.semanaEntrega"></td>
                                    <td bo-bind="encomenda.estadoDesc"> </td>
                                    <td width="50px" ng-if="_utilizador.comercial === false">
                                        <i style="font-size: 18px; color:red; margin-top:2px;" class="fa fa-square-o" ng-if="!encomenda.comprasOK"></i>
                                        <i style="font-size: 18px;  margin-top:2px;" class="fa fa-check-square-o" ng-if="encomenda.comprasOK"></i>
                                        <div class="btn-group dropdown pull-right">
                                            <button class="btn btn-default btn-xs dropdown-toggle" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                                <li ng-show="encomenda.estado == 0"><a href="" ng-click="marcarProducao(encomenda)">Marcar como "Em Produção"</a></li>
                                                <li><a ng-click="marcarComoEntregue(encomenda)">Marcar como Entregue</a></li>
                                                <li><a href="" ng-click="marcarCancelada(encomenda)">Marcar como Cancelada</a></li>
                                                <li><a href="" ui-sref="app.encomendas.edit({serie: encomenda.nomeSerie, num:encomenda.numDoc  })">Editar Detalhes </a></li>

                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </accordion-group>


            </accordion>
        </div>
    </div>
    <!-- / main -->

</div>

