.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}
table{
    font-size: 0.9em;
}
input[type=number] {
    min-width: 60px;
} 

.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #f9f9f9;
}

tr.estado-6, tr.estado-e6 {
    background-color: orange;
}

tr.estado-5, tr.estado-e5 {
    background-color: red;
    color: white;
}

tr.estado-e4 {
    background-color: orange
}

tr.estado-4, tr.estado-blue {
    background-color: cyan;
}

tr.estado-3, tr.estado-e3 {
    background-color: yellow;
}

tr.estado-2, tr.estado-e2 {
    background-color: lightgreen;
}

.padding-0 > tbody > tr > td, .padding-0 > thead > tr > th {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 3px;
    padding-right: 3px;
}

.padding-0>tbody>tr.estado-sep>td {
    padding-top: 0px;
    padding-bottom: 5px;
    font-size: 16px;
    border-bottom: #333 solid 1px;
    color: black;
    border-top: #333 solid 1px;
    color: black;
}

#tableEncomendas>thead>tr>th {
    text-align: left;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
}



#tableEncomendas > tbody > tr > td {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    font-size: 12px;
}

#tabelaTotais > tfoot > tr {
    border-top: 3pt solid black;

}

#tabelaTotais>tfoot>tr>td {
    font-size: 13px;
    font-weight: 900;
    padding: 0px 3px;

}

.table > thead > tr > th {
    padding-top: 4px;
    padding-bottom: 4px;
}

.table-striped2 tbody td:nth-of-type(odd) {
    background: #f8f8f9;
}

.dropdown-menu {
    z-index: 9999;
}

@media print {
    .no-print, .no-print * {
        display: none !important;
    }
    .app-content {
        margin-left: 0;
        margin-top: 0;
    }
    .app-header-fixed {
        padding-top: 0px;
    }
    body {
        font-size: 10px;
        -webkit-print-color-adjust: exact;
        background: transparent;
    }
    table .btn {
        display: none;
    }
    * {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
    tr.estado-6, tr.estado-e6 {
        background-color: orange;
        border: 3px solid orange;
    }
    tr.estado-5, tr.estado-e5 {
        background-color: red;
        border: 3px solid red;
    }
    tr.estado-e4 {
        background-color: orange;
        border: 3px solid orange;
    }
    tr.estado-4 {
        background-color: red;
        border: 3px solid red;
    }
    tr.estado-3, tr.estado-e3 {
        background-color: yellow;
        border: 3px solid yellow;
    }
    tr.estado-2, tr.estado-e2 {
        background-color: lightgreen;
        border: 3px solid lightgreen;
    }
    .padding-0>tbody>tr>td {
        padding-top: 0px;
        padding-bottom: 0px;
    }
}

@media print and (color) {
    * {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
    tr.estado-6 {
        background-color: orange;
    }
    tr.estado-5 {
        background-color: red;
    }
    r.estado-e4 {
        background-color: orange;
    }
    tr.estado-4 {
        background-color: cyan;
    }
    tr.estado-3 {
        background-color: yellow;
    }
    tr.estado-2 {
        background-color: lightgreen;
    }
    .padding-0>tbody>tr>td {
        padding-top: 0px;
        padding-bottom: 0px;
    }
}

.form-group {
    margin-bottom: 0px;
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}

.no-padding-r {
    padding-right: 0;
}

.min-padding-r {
    padding-right: 15px;
}

.no-padding-l {
    padding-left: 0;
}

.no-margin {
    margin-left: 0;
    margin-right: 0;
}

.no-m-v {
    margin-top: 0;
    margin-bottom: 0;
}

.form-validation .form-control.ng-dirty.ng-valid {
    border-color: #cfdadd;
}

.form-validation .form-control.ng-dirty.ng-valid:focus {
    border-color: #23b7e5;
}

.form-min .row, .form-min .panel {
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: 0;
    margin-top: 0;
}

.recolha-bg, th.recolha-bg {
    background-color: #fffafa;
    border-bottom: #666 1px solid;
}

.datepicker-left .dropdown-menu {
    left: -130px !important
}

.text-xs.table>thead>tr>th, .text-xs.table>tbody>tr>td {
    padding-left: 5px;
    padding-right: 5px;
}

input[type=color] {
    padding: 0;
    border: none;
}

.clearfix {
    clear: both;
}

.mb20 {
    margin-bottom: 20px;
}

.mt20 {
    margin-top: 20px;
}

.mtb5 {
    margin-top: 5px;
    margin-bottom: 5px;
}

form.loading input[datepicker-popup], form.loading button {
    display: none;
}

.s-g-01 {
    position: relative;
}

.s-g .s-g-name {
    text-orientation: sideways-right;
    writing-mode: tb-rl;
    top: 0;
    left: 20px;
    text-align: center;
    margin-top: -5px;
    margin-bottom: -5px;
}

.s-g-01 .s-g-name {
    background-color: #23b7e5;
    color: white;
}

.s-g-02 .s-g-name {
    background-color: khaki;
    color: white;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.float-left, .f-l {
    float: left;
}

.float-left label, .f-l label {
    padding-right: 10px;
}

.input-group .f-l:not(:first-child) {
    padding-left: 10px !important;
}

.popover-content {
    white-space: pre-line;
}

.badge h4 {
    margin: 0;
    font-size: 16px;
    font-weight: 800;
}

td.td-nm, .padding-0>tbody>tr>td.td-nm {
    margin: 0;
    padding: 0;
}

.padding-0>tbody>tr:hover, .padding-0>tbody>tr.recolha-bg:hover {
    background-color: lightgray;
    cursor: pointer;
    font-weight: 600;
}

th.th-bg-01 {
    background-color: ivory;
}

th.th-bg-02 {
    background-color: linen;
}

label.label-sm {
    padding-right: 0px;
    padding-left: 3px;
    padding-top:3px;

}

.form-group .col-sm-8, .pl-10 {
    padding-left: 10px;
}

@media (min-width: 768px) {
    nav.navi
    {
        position: fixed;
        width: 130px;
    }
    .app-aside, .navbar-header {
        width: 130px;
    }
    .navbar-collapse, .app-content, .app-footer {
        margin-left: 130px;
    }
    .navi ul.nav li a
    {
        padding: 5px 7px;
        font-size: 14px;
        margin-left:0;
    }
    .navi ul.nav li a > i
    {
        width: 20px;
        margin-right: 0px;
        margin-left: -5px;
    }

}