
<div class="" ng-controller="SavEditCtrl">
    <style type="text/css">
        .select2 > .select2-choice.ui-select-match { /* Because of the inclusion of Bootstrap */
            height: 29px;
        }

        .selectize-control > .selectize-dropdown {
            top: 36px;
        }
    </style>
    <div class="panel panel-default">
        <div class="panel-heading">
            <ul class="nav nav-pills pull-right">
                <li><a href="" class="" ui-sref="app.savs.edit({serie: 0, num: 0})"><i class="glyphicon glyphicon-plus"></i>Novo</a></li>
            </ul>
            Editar SAV
        </div>
    </div>
    <div class="row" ng-if="sav.anulada">
        <div class="col-md-12">
            <button class="btn btn-danger btn-addon  btn-lg"><i class="fa fa-warning"></i>Esta sav está anulada.</button>
        </div>
    </div>
    <form name="editSavForm" class="form-validation form-min" ng-class="load ? 'loaded' : 'loading'" ng-submit="editSavForm.$valid && submit()">
        <fieldset ng-disabled="_utilizador.comercial">

            <div class="row form-horizontal ">
                <div class="col-sm-12 col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading font-bold">Documento</div>
                        <div class="panel-body  ">
                            <div class="form-group  ">
                                <label class="col-md-2 control-label no-padding-r">ID Sav</label>
                                <div class=" col-md-2 no-padding-r">
                                    <select name="nomeSerie" class="form-control m-b" ng-model="select.serie"
                                            ng-options="serie.numSerie for serie in dados.series" required></select>
                                </div>
                                <div class=" col-md-2  no-padding-l no-padding-r">
                                    <input ng-model="sav.numDoc" ui-jq="TouchSpin" ng-blur="editFocus(false)" type="text" class="form-control " name="numDoc"
                                           ng-change="atualizaNumDoc()" ng-focus="editFocus(true)" data-min='0' data-max="9999999"
                                           data-verticalbuttons="true" data-verticalupclass="fa fa-caret-up" data-verticaldownclass="fa fa-caret-down"
                                           ng-keydown="preventSubmit()">
                                </div>
                                <div class="col-md-4 no-padding-l">
                                    <div class="input-group w-md">
                                        <input type="text" class="form-control"
                                               datepicker-popup="yyyy-MM-dd" ng-model="sav.dataSav" is-open="dataSavOpened" ng-required="true" close-text="Close" datetimepicker-neutral-timezone />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="dataSavOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">

                                <label class="col-md-2 control-label no-padding-r">Cliente</label>
                                <div class=" col-md-2  no-padding-r">
                                    <input ng-model="select.clienteNum" type="text" class="form-control no-padding" name="numCliente" required ng-pattern="/^[0-9]*$/" />
                                </div>

                                <div class=" col-md-8 no-padding-l">
                                    <ui-select ng-model="select.cliente" theme="select2" class="" ng-disabled="disabled" style="min-width: 100%;">
                                        <ui-select-match placeholder="Lista de Clientes">{{$select.selected.nome+' (' +$select.selected.id  + ')'}}</ui-select-match>

                                        <ui-select-choices repeat="cliente in dados.clientes | propsFilter: {nome: $select.search}">
                                            <div ng-bind-html="cliente.nome + ' ('+ cliente.id  + ')' | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label no-padding-r">Produto</label>
                                <div class=" col-md-2 no-padding-r">
                                    <input ng-model="select.produtoNum" type="text" class="form-control no-padding" name="produto" ng-pattern="/^[0-9]*$/" />
                                </div>

                                <div class="col-md-8 no-padding-l">
                                    <ui-select ng-model="select.produto" theme="select2" class="" ng-disabled="disabled" style="min-width: 100%;">
                                        <ui-select-match placeholder="Lista de Produtos">{{$select.selected.nome+' (' +$select.selected.id  + ')'}}</ui-select-match>
                                        <ui-select-choices repeat="produto in dados.produtoSav | propsFilter: {nome: $select.search}">
                                            <div ng-bind-html="produto.nome + ' ('+ produto.id  + ')' | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label no-padding-r">Tipo Encomenda</label>
                                <div class=" col-md-2 no-padding-r">
                                    <input ng-model="select.produtoNum" type="text" class="form-control no-padding" name="tipoencomenda" ng-pattern="/^[0-9]*$/" />
                                </div>

                                <div class="col-md-8 no-padding-l">
                                    <ui-select ng-model="select.produto" theme="select2" class="" ng-disabled="disabled" style="min-width: 100%;">
                                        <ui-select-match placeholder="Lista de Tipos Encomenda">{{$select.selected.nome+' (' +$select.selected.id  + ')'}}</ui-select-match>
                                        <ui-select-choices repeat="produto in dados.produtoSav | propsFilter: {nome: $select.search}">
                                            <div ng-bind-html="produto.nome + ' ('+ produto.id  + ')' | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label no-padding-r">Tipo de Avaria</label>
                                <div class=" col-md-2  no-padding-r">
                                    <input ng-model="select.tipoAvariaNum" type="text" class="form-control no-padding" name="tipoAvaria" ng-pattern="/^[0-9]*$/" />
                                </div>

                                <div class=" col-md-8 no-padding-l">
                                    <ui-select ng-model="select.tipoAvaria" theme="select2" class="" ng-disabled="disabled" style="min-width: 100%;">
                                        <ui-select-match placeholder="Lista de Tipos de Avaria">{{$select.selected.nome +' (' +$select.selected.id  + ')'}}</ui-select-match>
                                        <ui-select-choices repeat="tipoAvaria in dados.tipoAvaria | propsFilter: {nome: $select.search}">
                                            <div ng-bind-html="tipoAvaria.nome + ' ('+ tipoAvaria.id  + ')' | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="form-group" ng-if="select.tipoAvaria.extra">
                                <label class="col-md-4 control-label">
                                    Descritivo Outra Avaria
                                </label>
                                <div class=" col-md-8 no-padding-l">
                                    <input ng-model="sav.tipoAvariaExtra" type="text" class="form-control no-padding" style="background-color:#f9edbe" name="tipoAvariaExtra" />
                                </div>

                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label no-padding-r">Departamento</label>
                                <div class=" col-md-2  no-padding-r">
                                    <input ng-model="select.departamentoNum" type="text" class="form-control no-padding" name="departamento" required ng-pattern="/^[0-9]*$/" />
                                </div>

                                <div class=" col-md-8 no-padding-l">
                                    <ui-select ng-model="select.departamento" theme="select2" class="" ng-disabled="disabled" style="min-width: 100%;">
                                        <ui-select-match placeholder="Lista de Departamento">{{$select.selected.nome+' (' +$select.selected.id  + ')'}}</ui-select-match>
                                        <ui-select-choices repeat="departamento in dados.departamentos | propsFilter: {nome: $select.search}">
                                            <div ng-bind-html="departamento.nome + ' ('+ departamento.id  + ')' | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label no-padding-r">Problema</label>
                                <div class=" col-md-8">
                                    <ui-select ng-model="select.problema" theme="select2" class="" ng-disabled="disabled" style="min-width: 100%;">
                                        <ui-select-match placeholder="Lista de Departamento">{{$select.selected.nome+' (' +$select.selected.id  + ')'}}</ui-select-match>
                                        <ui-select-choices repeat="problema in dados.problemas | propsFilter: {nome: $select.search}">
                                            <div ng-bind-html="problema.nome + ' ('+ problema.id  + ')' | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <!--<div class="form-group">
        <label class="col-md-2 control-label no-padding-r">Setor</label>


        <div class=" col-md-8">
            <ui-select ng-model="select.setor" theme="select2" class="" ng-disabled="disabled" style="min-width: 100%;">
                <ui-select-match placeholder="Lista de Setores">{{$select.selected.nome}}</ui-select-match>
                <ui-select-choices repeat="setor in dados.setores | propsFilter: {nome: $select.search}">
                    <div ng-bind-html="setor.nome | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>

        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label" for="descricao">Descrição do problema</label>
        <div class=" col-md-10">
            <textarea class="form-control" name="descricao" placeholder="" ng-model="sav.descricaoSav" rows="5"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label" for="causa">Causa</label>
        <div class=" col-md-10">
            <textarea class="form-control" name="causa" placeholder="" ng-model="sav.causa" rows="5"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label" for="acaoImplementar">Ação Implementar</label>
        <div class=" col-md-10">
            <textarea class="form-control" name="acaoImplementar" placeholder="" ng-model="sav.acaoImplementar" rows="5"></textarea>
        </div>
    </div>-->
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="ref">Ref</label>
                                <div class=" col-md-10">
                                    <input ng-model="sav.ref" type="text" class="form-control no-padding" name="ref" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="semanaEntrega">Semana Entrega</label>
                                <div class=" col-md-2">
                                    <input ng-model="sav.semanaEntrega" type="number" class="form-control no-padding" name="semanaEntrega" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="custos">Custos</label>
                                <div class="col-md-3 input-group" style="padding-left:15px;float:left">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button">Produto</button>
                                    </span>
                                    <input ng-model="sav.custos" step="0.01" type="number" class="form-control" name="custos" />
                                </div>
                                <div class="col-md-3 input-group" style="padding-left: 15px; float: left">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button">Transporte</button>
                                    </span>
                                    <input ng-model="sav.custosTransporte" step="0.01" type="number" class="form-control" name="custosTransporte" />
                                </div>


                                <div class="col-md-3 input-group" style="padding-left:50px;">
                                    <div>
                                        <!--<label class="checkbox-inline" >
                    <input type="checkbox" ng-model="sav.garantia"> Garantia
                </label>-->
                                        <label class="i-checks">
                                            <input type="checkbox" ng-model="sav.garantia"><i></i> Garantia
                                        </label>
                                    </div>
                                </div>

                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="custosDescricao">Custos Descrição</label>
                                <div class=" col-md-10">
                                    <textarea class="form-control" name="custosDescricao" placeholder="" ng-model="sav.custosDescricao" rows="5"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="panel-heading font-bold">Dados</div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-md-12  no-padding-r">Nº de dias em aberto: {{sav.nDias}} </label>
                                <label class="col-md-12  no-padding-r">Criado por {{sav.criadoPor}} em {{sav.criadoData | date: 'yyyy-MM-dd'}}</label>
                            </div>
                        </div>
                        <div class="panel-heading font-bold">Anexos</div>
                        <div class="panel-body">
                            <div class="form-group">
                                <div class=" col-md-4">
                                    <input type="file" class="form-control" file-model="myFile" ng-model="myFile" />
                                </div>
                                <div class=" col-md-4">
                                    <button type="button" ng-if="myFile" ng-click="uploadFile()" class="btn btn-default"><i class="glyphicon glyphicon-upload"></i>Enviar Ficheiro</button>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class=" col-md-12">
                                    <button type="button" ng-click="getAnexo(anexo)" class="btn btn-default" ng-repeat="anexo in sav.anexos">
                                        {{anexo.nome}}<i class="glyphicon glyphicon-download"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading font-bold">Estado</div>
                        <div class="panel-body">

                            <div class="form-group">
                                <label class="col-md-2 control-label no-padding-r">Estado</label>
                                <div class=" col-md-2  no-padding-r">
                                    <input ng-model="select.estadoSavNum" type="text" class="form-control no-padding" name="estado" required ng-pattern="/^[0-9]*$/" />
                                </div>

                                <div class=" col-md-8 no-padding-l">
                                    <ui-select ng-model="select.estadoSav" theme="select2" class="" ng-disabled="disabled" style="min-width: 100%;">
                                        <ui-select-match placeholder="Lista de estado">{{$select.selected.nome+' (' +$select.selected.id  + ')'}}</ui-select-match>
                                        <ui-select-choices repeat="estado in dados.estadoSav | propsFilter: {nome: $select.search}">
                                            <div ng-bind-html="estado.nome + ' ('+ estado.id  + ')' | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="form-group">

                                <label class="col-md-2 control-label no-padding-r ">Data Estado</label>
                                <div class=" col-md-4 no-padding-r">

                                    <div class="input-group w-md">
                                        <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="sav.dataEstado" is-open="DataEstadoOpened" ng-required="true" close-text="Close" datetimepicker-neutral-timezone />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="DataEstadoOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="notasAdicionais">Notas </label>
                                <div class=" col-md-10">
                                    <textarea class="form-control" name="notasAdicionais" placeholder="" ng-model="sav.notasAdicionais" rows="3"></textarea>
                                </div>
                            </div>


                        </div>
                        <!--</div>

                        <div class="panel panel-default">-->
                        <div class="panel-heading font-bold">Recolha</div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-md-2 control-label" for=""></label>
                                <div class=" col-md-10">
                                    <div class="checkbox">
                                        <label class="i-checks">
                                            <input type="checkbox" ng-model="sav.temRecolha"><i></i> Marcar como Recolha
                                        </label>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-12 clearfix " ng-if="sav.temRecolha">
                                <div class="clearfix">
                                    <div class="form-group col-sm-12 col-md-12 col-lg-12">
                                        <label class="col-md-6 control-label no-padding-r ">Data Pedido Recolha</label>
                                        <div class="col-md-6 col-lg-4 no-padding-r">
                                            <div class="input-group  w-sm">
                                                <input type="text" class="form-control input-sm" datepicker-popup="yyyy-MM-dd" ng-model="sav.recolha.dataPedidoRecolha" is-open="datePickerState['dataPedidoRecolha'].opened"
                                                       close-text="Close" datetimepicker-neutral-timezone />
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default btn-sm" ng-click="setDatePickerStateOpen('dataPedidoRecolha', $event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12  col-md-12 col-lg-12">
                                        <label class="col-md-6 control-label no-padding-r ">Data Recolha</label>
                                        <div class=" col-md-6 no-padding-r">
                                            <div class="input-group datepicker-left w-sm">
                                                <input type="text" class="form-control input-sm" datepicker-popup="yyyy-MM-dd" ng-model="sav.recolha.dataRecolha" is-open="datePickerState['dataRecolha'].opened" close-text="Close" datetimepicker-neutral-timezone />
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default btn-sm" ng-click="setDatePickerStateOpen('dataRecolha', $event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12 col-lg-12">
                                        <label class="col-md-6 control-label no-padding-r ">Data Prevista Chegada</label>
                                        <div class=" col-md-6 no-padding-r">
                                            <div class="input-group  w-sm">
                                                <input type="text" class="form-control input-sm" datepicker-popup="yyyy-MM-dd" data-format="yyyy-MM-dd" ng-model="sav.recolha.dataChegadaPrevista" is-open="datePickerState['dataChegadaPrevista'].opened" close-text="Close" datetimepicker-neutral-timezone
                                                       datepicker-popup-placement="left-bottom" />
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default btn-sm" ng-click="setDatePickerStateOpen('dataChegadaPrevista', $event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12 col-lg-12">
                                        <label class="col-md-6 control-label no-padding-r">Estado</label>
                                        <div class=" col-md-4 no-padding-l">
                                            <ui-select ng-model="sav.recolha.estadoRecolha" theme="select2" class="input-sm" ng-disabled="disabled" style="min-width: 100%;">
                                                <ui-select-match placeholder="Lista de estado">{{$select.selected.nome}}</ui-select-match>
                                                <ui-select-choices repeat="estado in dados.estadosRecolha | propsFilter: {nome: $select.search}">
                                                    <div ng-bind-html="estado.nome | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group clearfix mt20">
                                    <label class="col-md-2 control-label no-padding-r ">Notas da recolha</label>
                                    <div class=" col-md-9">
                                        <textarea class="form-control input-sm" name="notasRecolha" placeholder="" ng-model="sav.recolha.estadoProduto" rows="3"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel-heading font-bold">Resposta Ao Cliente</div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-md-2 control-label no-padding-r ">Data</label>
                                <div class=" col-md-4 no-padding-r">
                                    <div class="input-group w-md">
                                        <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="sav.dataRespostaAoCliente" is-open="DataRespostaClienteOpened" close-text="Close" datetimepicker-neutral-timezone />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="DataRespostaClienteOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label no-padding-r ">Notas </label>
                                <div class=" col-md-9">
                                    <textarea class="form-control" name="notasAdicionais" placeholder="" ng-model="sav.respostaAoCliente" rows="3"></textarea>
                                </div>
                            </div>
                            <br />
                            <div class="form-group">
                                <label class="col-md-2 control-label no-padding-r ">Data Expedição</label>
                                <div class=" col-md-6 no-padding-r">
                                    <div class="input-group w-md">

                                        <input type="text" datetimepicker-neutral-timezone
                                               class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="sav.dataExpedicao" is-open="DataExpedicaoOpened" close-text="Close" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="DataExpedicaoOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label no-padding-r "></label>
                                <div class=" col-md-9">
                                    <button type="button" class="btn btn-default" ng-click="cancel()">Cancelar</button>
                                    <button type="submit" class="btn btn-info" ng-disabled="form.$invalid">Guardar</button>
                                </div>
                            </div>
                        </div>
                        <div ng-show="(_utilizador.admin || _utilizador.adminSav) && !sav.marcarResolvida">
                            <div class="panel-heading font-bold">Marcar como Resolvida </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="col-md-2 control-label no-padding-r ">Data</label>
                                    <div class=" col-md-6 no-padding-r">
                                        <div class="input-group w-md">

                                            <input type="text" datetimepicker-neutral-timezone
                                                   class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="sav.dataResolvida" is-open="DataResolvidaOpened" close-text="Close" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="DataResolvidaOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-danger" ng-click="encerrarSAV()">Marcar como encerrada</button>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for=""></label>
                                    <div class=" col-md-10">
                                        <div class="checkbox">
                                            <label class="i-checks">
                                                <input type="checkbox" ng-model="sav.direitoNaoConformidade"><i></i> Direito a Não Conformidade
                                            </label>
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class=" col-md-12">
                                        <textarea class="form-control" name="notasAdicionais" placeholder="" ng-model="sav.notasResolvida" rows="3"></textarea>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="false">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-md-9">
                            <button class="btn btn-default" ng-click="cancel()">Cancelar</button>
                            <button type="submit" class="btn btn-info" ng-disabled="form.$invalid">Guardar</button>
                        </div>
                    </div>
                </div>

            </div>


            <div class="row hide">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-lg-12">
                                    <button type="button" class="btn btn-danger" ng-click="anular()">Anular Sav</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>
