
<div class="" ng-controller="tipoEncomendasTabelaCtrl">
    <div class="panel panel-default">
        <div class="panel-heading">
            <ul class="nav nav-pills pull-right">
                <li><a ui-sref="app.tipoEncomendas.edit({id: 0})"><i class="glyphicon glyphicon-plus"></i>Novo</a></li>

            </ul>
            Tabela de TipoEncomendas
        </div>
        <div class="table-responsive">
            <table ng-table="tableParams" show-filter="true" ng-class-odd="odd" ng-class-even="even" class="table table-striped ">
                <tr ng-repeat="tipoEncomenda in $data">
                    <td data-title="'Num'" sortable="'numTipoEncomenda'" filter="{ 'numTipoEncomenda': 'text' }" width="10%">
                        {{tipoEncomenda.numTipoEncomenda}}
                    </td>
                    <td data-title="'Nome'" sortable="'nome'" width="60%" filter="{ 'nome': 'text' }">{{tipoEncomenda.nome}}</td>
                    <td data-title="'Setor'" sortable="'Setor'" width="15%" filter="{ 'setor': 'text' }">{{tipoEncomenda.setor}}</td>
                    <td data-title="'Anulado'" sortable="'anulado'" width="10%" filter="{ 'anulado': 'text' }" style="text-align:center;">
                        <input type="checkbox" disabled ng-model="tipoEncomenda.anulado">
                    </td>
                    <td data-title="''" width="15%">
                        <a href="" class="btn m-b-xs btn-xs btn-info btn-addon" ui-sref="app.tipoEncomendas.edit({id:  tipoEncomenda.numTipoEncomenda })">Editar</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>