
<div class="" ng-controller="EstadoSavEditCtrl">
    <div class="panel panel-default">
        <div class="panel-heading">
            <ul class="nav nav-pills pull-right">
                <li><a href="" class="" ui-sref="app.estadoSavs.edit({id: 0})"><i class="glyphicon glyphicon-plus"></i>Novo</a></li>
                <li><a href="" class="" ui-sref="app.estadoSavs.edit({id: dados.idAnt})"><i class="fa fa-arrow-left"></i></a></li>
                <li><a href="" class="" ui-sref="app.estadoSavs.edit({id: dados.idProx})"><i class="fa fa-arrow-right"></i></a></li>
            </ul>
            Editar EstadoSav

        </div>
        <div class="panel-body">
            <form name="form" class="form-horizontal form-validation" ng-submit="submit()">
                <div class="form-group">
                    <label class="col-lg-2 control-label">Num EstadoSav</label>
                    <div class="col-lg-4">
                        <input ng-model="estadoSav.numEstadoSav" ui-jq="TouchSpin" type="text" class="form-control" name="numEstadoSav" ng-model="estadoSav.numEstadoSav" data-min='0' data-verticalbuttons="true" data-verticalupclass="fa fa-caret-up" data-verticaldownclass="fa fa-caret-down">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label" required>Nome</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" name="nome" placeholder="Nome" ng-model="estadoSav.nome" required ng-minlength="3">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Estado</label>
                    <div class="col-lg-10">
                        <select ng-model="estadoSav.subEstado" class="form-control m-b" name="producao">
                            <option value="1">Branco</option>
                            <option value="2">Verde</option>
                            <option value="3">Amarelo</option>
                            <option value="4">Azul</option>
                            <option value="5">Vermelho</option>
                            <option value="6">Laranja</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label"></label>
                    <div class="col-lg-10">
                        <label class="checkbox-inline">
                            <input type="checkbox" ng-model="estadoSav.anulado"> Anulado
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" ng-model="estadoSav.marcaEncerrado"> Marcar Como Encerrado
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" ng-model="estadoSav.preSeleccionadoNaPesquisa"> Pré-seleccionar na pesquisa
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <button type="submit" class="btn btn-info" ng-disabled="form.$invalid">Guardar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


