
<div class="" ng-controller="EncomendaEditCtrl">
    <style type="text/css">
        .select2 > .select2-choice.ui-select-match {
            /* Because of the inclusion of Bootstrap */
            height: 29px;
        }

        .selectize-control > .selectize-dropdown {
            top: 36px;
        }
    </style>
    <div class="panel panel-default" ng-if="_utilizador &&_utilizador.comercial === false">      
        <div class="panel-heading">
            <ul class="nav nav-pills pull-right">
                <li><a href="" class="" ui-sref="app.encomendas.edit({serie: 0, num: 0})"><i class="glyphicon glyphicon-plus"></i>Novo</a></li>
            </ul>
            Editar encomenda
        </div>
        </div>
        <div class="row" ng-if="encomenda.anulada">
            <div class="col-md-12">
                <button class="btn btn-danger btn-addon  btn-lg"><i class="fa fa-warning"></i>Esta encomenda está anulada.</button>
            </div>
        </div>
        <form name="form" class="form-validation" ng-submit="submit()">
            <fieldset  ng-disabled="_utilizador && _utilizador.comercial">
                <div class="row form-horizontal ">
                    <div class="col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-heading font-bold">Documento</div>
                            <div class="panel-body">
                                <div class="form-group ">
                                    <label class=" col-lg-2 control-label">Encomenda</label>
                                    <div class=" col-lg-4">
                                        <select name="nomeSerie" class="form-control m-b" ng-model="select.serie"
                                                ng-options="serie.numSerie for serie in dados.series" required></select>
                                    </div>
                                    <div class=" col-lg-4">
                                        <input ng-model="encomenda.numDoc" ui-jq="TouchSpin" ng-blur="editFocus(false)"
                                            ng-keydown="preventSubmit()" type="text" class="form-control" name="numCliente"
                                            ng-change="atualizaNumDoc()" ng-focus="editFocus(true)"
                                            data-min='0' data-max="9999999" data-verticalbuttons="true" data-verticalupclass="fa fa-caret-up"
                                            data-verticaldownclass="fa fa-caret-down">
                                    </div>
                                </div>
                                <div class="line line-dashed b-b line-lg "></div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label" required>Nome Artigo</label>
                                    <div class="col-lg-10">
                                        <input type="text" class="form-control" name="nomeArtigo" placeholder="" ng-model="encomenda.nomeArtigo">
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class=" col-lg-2 control-label">Data Pedido</label>

                                    <div class=" col-lg-10">
                                        <div class="input-group w-md">
                                            <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="encomenda.dataPedido" is-open="DataPedidoOpened" ng-required="true" close-text="Close" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="DataPedidoOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class=" col-lg-2 control-label">Data Aprovação</label>
                                    <div class=" col-lg-10">
                                        <div class="input-group w-md">
                                            <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="encomenda.dataAprovacao" is-open="DataAprovacaoOpened" close-text="Close" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="DataAprovacaoOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Tipo Encomenda</label>
                                    <div class=" col-lg-2">
                                        <input ng-model="select.tipoEncomendaNum" type="text" class="form-control" name="tipoEncNum" required ng-pattern="" style="max-width: 70px;" />
                                    </div>
                                    <div class="col-md-6 col-md-offset-0">
                                        <ui-select ng-model="select.tipoEncomenda" theme="select2" ng-disabled="disabled" style="min-width: 300px;">
                                            <ui-select-match placeholder="Lista de Tipos de Encomenda">{{$select.selected.nomeTipoEncomenda}}</ui-select-match>
                                            <ui-select-choices repeat="te in dados.tipoEncomenda | propsFilter: {nomeTipoEncomenda: $select.search}">
                                                <div ng-bind-html="te.nomeTipoEncomenda | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label" required>Nº Vãos</label>
                                    <div class="col-lg-10">
                                        <input ui-jq="TouchSpin" type="text" class="form-control" name="nVaos" placeholder="Nº Vãos" ng-model="encomenda.numVaos" data-min='0' data-max="9999999" data-verticalbuttons="true" data-verticalupclass="fa fa-caret-up" data-verticaldownclass="fa fa-caret-down">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Cor</label>
                                    <div class="col-lg-10">
                                        <input type="text" class="form-control" name="cor" placeholder="Cor" ng-model="encomenda.cor">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Painel</label>
                                    <div class="col-lg-10">
                                        <input type="text" class="form-control" name="painel" placeholder="Painel" ng-model="encomenda.painel">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Sem. Entrega</label>
                                    <div class="col-lg-10">
                                        <input type="text" class="form-control" name="semanaEntrega" placeholder="" ng-model="encomenda.semanaEntrega">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Num Serie</label>
                                    <div class="col-lg-10">
                                        <input type="text" class="form-control" name="semanaEntrega" placeholder="" ng-model="encomenda.numSerie">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-heading font-bold">Cliente</div>
                            <div class="panel-body">

                                <div class="form-group">
                                    <label class="col-lg-1 control-label"></label>
                                    <div class=" col-lg-3">
                                        <input ng-model="select.clienteNum" type="text" class="form-control " name="numCliente" required ng-pattern="/^[0-9]*$/" />
                                    </div>

                                    <div class=" col-lg-8">
                                        <ui-select ng-model="select.cliente" theme="select2" ng-disabled="disabled" style="min-width: 300px;">
                                            <ui-select-match placeholder="Lista de Cliente">{{$select.selected.nomeCliente}}</ui-select-match>
                                            <ui-select-choices repeat="cliente in dados.clientes | propsFilter: {nomeCliente: $select.search}">
                                                <div ng-bind-html="cliente.nomeCliente | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                    <div style="clear:both"></div>

                                    <div class="line line-dashed b-b line-lg"></div>
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">Estado</label>
                                        <div class="col-lg-10">
                                            <select ng-model="encomenda.estado" class="form-control m-b" name="producao">
                                                <option value="0">Pendente</option>
                                                <option value="1">Em Produção</option>
                                                <option value="4">Pronta</option>
                                                <option value="2">Entregue</option>
                                                <option value="3">Cancelada</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">Produção</label>
                                        <div class="col-lg-10">
                                            <input type="text" class="form-control" name="producao" placeholder="Produção" ng-model="encomenda.producao">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">Expedido</label>
                                        <div class="col-lg-10">
                                            <input type="text" class="form-control" name="expedido" placeholder="Expedido" ng-model="encomenda.dataExpedido">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">Fatura</label>
                                        <div class="col-lg-10">
                                            <input type="text" class="form-control" name="fatura" placeholder="Fatura" ng-model="encomenda.fatura">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">Notas</label>
                                        <div class="col-lg-10">
                                            <textarea class="form-control" rows="4" placeholder="" ng-model="encomenda.notas"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-if="_utilizador && _utilizador.comercial === false" >
                                        <div class="col-lg-offset-2 col-lg-10">
                                            <button class="btn btn-default" ng-click="cancel()">Cancelar</button>
                                            <button type="submit" class="btn btn-info" ng-disabled="form.$invalid">Guardar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Linhas Compras
                                <ul class="nav nav-pills pull-right">
                                    <li></li>

                                </ul>
                            </div>
                            <style type="text/css">
                                .EditEncomendaCompras input {
                                    padding-bottom: 0px;
                                    padding-top: 0px;
                                }

                                .EditEncomendaCompras tbody > tr > td {
                                    padding-bottom: 2px;
                                    padding-top: 2px;
                                    padding-left: 0px;
                                }

                                .EditEncomendaCompras .dropdown-menu {
                                    left: auto !important;
                                    right: 100px;
                                }
                            </style>

                            <div class="panel-body" ng-if="load">
                                <table class="table EditEncomendaCompras ">
                                    <thead>
                                        <tr>
                                            <td>Material</td>
                                            <td>Notas Fornecedor</td>
                                            <td width="120">Data Encomenda</td>
                                            <td width="120">Data Entrega</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-if="encomenda.compras[0].mostra">
                                            <td>
                                                <input type="text" class="form-control" ng-model="encomenda.compras[0].material">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" ng-model="encomenda.compras[0].notasFornecedor">
                                            </td>
                                            <td>
                                                <div>
                                                    <input type="text" class="form-control" id="" placeholder="" datepicker-popup="yyyy-MM-dd" ng-model="encomenda.compras[0].dataPedido" is-open="encomenda.compras[0].dataPedidoOpened" ng-focus="encomenda.compras[0].dataPedidoOpened = true; ">
                                                </div>
                                            </td>
                                            <td>
                                                <div>
                                                    <input type="text" class="form-control" id="" placeholder="" datepicker-popup="yyyy-MM-dd" ng-model="encomenda.compras[0].dataEntrega" is-open="encomenda.compras[0].dataEntregaOpened" ng-focus="encomenda.compras[0].dataEntregaOpened = true; ">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr ng-if="encomenda.compras[1].mostra">
                                            <td>
                                                <input type="text" class="form-control" ng-model="encomenda.compras[1].material">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" ng-model="encomenda.compras[1].notasFornecedor">
                                            </td>
                                            <td>
                                                <div>
                                                    <input type="text" class="form-control" id="" placeholder="" datepicker-popup="yyyy-MM-dd" ng-model="encomenda.compras[1].dataPedido" is-open="encomenda.compras[1].dataPedidoOpened" ng-focus="encomenda.compras[1].dataPedidoOpened = true; ">
                                                </div>
                                            </td>
                                            <td>
                                                <div>
                                                    <input type="text" class="form-control" id="" placeholder="" datepicker-popup="yyyy-MM-dd" ng-model="encomenda.compras[1].dataEntrega" is-open="encomenda.compras[1].dataEntregaOpened" ng-focus="encomenda.compras[1].dataEntregaOpened = true; ">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr ng-if="encomenda.compras[2].mostra">
                                            <td>
                                                <input type="text" class="form-control" ng-model="encomenda.compras[2].material">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" ng-model="encomenda.compras[2].notasFornecedor">
                                            </td>
                                            <td>
                                                <div>
                                                    <input type="text" class="form-control" id="" placeholder="" datepicker-popup="yyyy-MM-dd" ng-model="encomenda.compras[2].dataPedido" is-open="encomenda.compras[2].dataPedidoOpened" ng-focus="encomenda.compras[2].dataPedidoOpened = true; ">
                                                </div>
                                            </td>
                                            <td>
                                                <div>
                                                    <input type="text" class="form-control" id="" placeholder="" datepicker-popup="yyyy-MM-dd" ng-model="encomenda.compras[2].dataEntrega" is-open="encomenda.compras[2].dataEntregaOpened" ng-focus="encomenda.compras[2].dataEntregaOpened = true; ">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr ng-if="encomenda.compras[3].mostra">
                                            <td>
                                                <input type="text" class="form-control" ng-model="encomenda.compras[3].material">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" ng-model="encomenda.compras[3].notasFornecedor">
                                            </td>
                                            <td>
                                                <div>
                                                    <input type="text" class="form-control" id="" placeholder="" datepicker-popup="yyyy-MM-dd" ng-model="encomenda.compras[3].dataPedido" is-open="encomenda.compras[3].dataPedidoOpened" ng-focus="encomenda.compras[3].dataPedidoOpened = true; ">
                                                </div>
                                            </td>
                                            <td>
                                                <div>
                                                    <input type="text" class="form-control" id="" placeholder="" datepicker-popup="yyyy-MM-dd" ng-model="encomenda.compras[3].dataEntrega" is-open="encomenda.compras[3].dataEntregaOpened" ng-focus="encomenda.compras[3].dataEntregaOpened = true;">
                                                </div>
                                            </td>
                                        </tr>

                                        <tr ng-if="encomenda.compras[4].mostra">
                                            <td>
                                                <input type="text" class="form-control" ng-model="encomenda.compras[4].material">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" ng-model="encomenda.compras[4].notasFornecedor">
                                            </td>
                                            <td>
                                                <div>
                                                    <input type="text" class="form-control" id="" placeholder="" datepicker-popup="yyyy-MM-dd" ng-model="encomenda.compras[4].dataPedido" is-open="encomenda.compras[4].dataPedidoOpened" ng-focus="encomenda.compras[4].dataPedidoOpened = true; ">
                                                </div>
                                            </td>
                                            <td>
                                                <div>
                                                    <input type="text" class="form-control" id="" placeholder="" datepicker-popup="yyyy-MM-dd" ng-model="encomenda.compras[4].dataEntrega" is-open="encomenda.compras[4].dataEntregaOpened" ng-focus="encomenda.compras[4].dataEntregaOpened = true; " close-text="Close">
                                                </div>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-if="_utilizador && _utilizador.comercial === false">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="form-group">
                                    <div class="col-lg-10"  >
                                        <button class="btn btn-default" ng-click="cancel()">Cancelar</button>
                                        <button type="submit" class="btn btn-info" ng-disabled="form.$invalid">Guardar</button>
                                        {{encomenda}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row"  ng-if="_utilizador && _utilizador.comercial === false>
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="form-group">
                                    <div class="col-lg-12">
                                        <button type="button" class="btn btn-danger" ng-click="anular()">Anular Encomenda</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <br />
                <br /><br />
                <br />
            </fieldset>
    </form>

</div>
