<div class="" ng-controller="tabela3EncomendasCtrl" ng-if="_utilizador != undefined">
    <div class="" ng-if="show">
        <div class="panel panel-default">
            <div class="panel-heading">
                <ul class="nav nav-pills pull-right">
                    <li><a href="" ng-click="downloadExcel()"><i class="fa fa-download m-r-xs" aria-hidden="true"></i> Relatório Produção Semanal</a></li>
                </ul>
                Relatório de Encomendas Semanal
            </div>
            <div class="panel-body">
                <form name="form" role="form" class="form-horizontal" ng-submit="submit()">
                    <div class="col-sm-6">

                        <div class="form-group">
                            <label class="col-sm-2 control-label text-right">Serie/Ano</label>
                            <div class="col-sm-2">
                                <!-- <input type="text" ng-model="paramsPesquisa.serie" class="form-control" close-text="Close" />-->
                                <select name="nomeSerie" class="form-control m-b" ng-model="paramsPesquisa.serie"
                                        ng-options="serie.numSerie for serie in series track by serie.numSerie" ng-change="change()"></select>
                            </div>
                            <label class="col-sm-2 control-label text-right">Semana</label>
                            <div class="col-sm-2">
                                <input name="semana" type="number" ng-model="paramsPesquisa.semanaEntrega" min="1" max="{{dados.uSemana}}" class="form-control" close-text="Close" required />
                            </div>
                            <div class="col-sm-4">
                                <label class="col-sm-3 control-label text-right"></label>
                                <div class="col-sm-8">
                                    <button type="submit" class="btn m-b-xs btn-sm btn-primary btn-addon"><i class="fa fa-search"></i>Pesquisar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm-12" ng-if="tabelas.tipoEncEntregas">
            
                    <div class="panel-heading">
                        <h3>Semana {{dados.semana}}/{{dados.serie}}</h3>
                        <br />
                    </div>
                    <accordion ng-if="tabelas.tipoEncEntregas">
                        <accordion-group heading="{{setor.setorNome}}" ng-repeat="setor in setoresEncomenda" ng-if="setor.total > 0">
                            <div class="table-responsive" ng-show="true">
                                <table class="table table-striped b-t b-light padding-0" data-filter="#filter" data-page-size="50">
                                    <thead>
                                        <tr>
                                            <th colspan="3"></th>
                                            <th colspan="{{entregaTipoCols}}" class="text-center" style="background-color: lightyellow">ENTREGA<a href="" ng-click="expandirEntregaTipo()"><i class="fa fa-plus-square m-r-xs pull-right" ng-hide="!entregaTipo"></i><i class="fa fa-minus-square m-r-xs pull-right" ng-hide="entregaTipo"></i></a></th>
                                            <th colspan="{{concluidoTipoCols}}" class="text-center" style="background-color: lightgreen">CONLUÍDO<a href="" ng-click="expandirConcluidoTipo()"><i class="fa fa-plus-square m-r-xs pull-right" ng-hide="!concluidoTipo"></i><i class="fa fa-minus-square m-r-xs pull-right" ng-hide="concluidoTipo"></i></a></th>
                                            <th colspan="{{produzidoTipoCols}}" class="text-center" style="background-color: aliceblue">PRODUZIDO<a href="" ng-click="expandirProduzidoTipo()"><i class="fa fa-plus-square m-r-xs pull-right" ng-hide="!produzidoTipo"></i><i class="fa fa-minus-square m-r-xs pull-right" ng-hide="produzidoTipo"></i></a></th>
                                        </tr>
                                    </thead>
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Num.</th>
                                            <th>Tipo Encomenda</th>
                                            <th ng-hide="entregaTipo">Priximbattable</th>
                                            <th ng-hide="entregaTipo">Wis Mar NFI</th>
                                            <th ng-hide="entregaTipo">Restantes Clientes</th>
                                            <th>Total</th>
                                            <th></th>
                                            <th ng-hide="concluidoTipo">Priximbattable</th>
                                            <th ng-hide="concluidoTipo">Wis Mar NFI</th>
                                            <th ng-hide="concluidoTipo">Restantes Clientes</th>
                                            <th>Total</th>
                                            <th></th>
                                            <th ng-hide="produzidoTipo">Priximbattable</th>
                                            <th ng-hide="produzidoTipo">Wis Mar NFI</th>
                                            <th ng-hide="produzidoTipo">Restantes Clientes</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr bindonce ng-repeat="tipoEncEntrega in tabelas.tipoEncEntregas" ng-if="tipoEncEntrega.setorEncomenda_IdSetorEncomenda == setor.setorId">
                                            <td></td>
                                            <td bo-text="tipoEncEntrega.numTipoEncomenda"></td>
                                            <td bo-text="tipoEncEntrega.nomeTipoEncomenda"></td>
                                            <td bo-text="tipoEncEntrega.totalPrix" ng-hide="entregaTipo"></td>
                                            <td bo-text="tipoEncEntrega.totalWis" ng-hide="entregaTipo"></td>
                                            <td bo-text="tipoEncEntrega.totalResto" ng-hide="entregaTipo"></td>
                                            <td bo-text="tipoEncEntrega.total"></td>
                                            <td></td>
                                            <td bo-text="tipoEncEntrega.totalPrixProd" ng-hide="concluidoTipo"></td>
                                            <td bo-text="tipoEncEntrega.totalWisProd" ng-hide="concluidoTipo"></td>
                                            <td bo-text="tipoEncEntrega.totalRestoProd" ng-hide="concluidoTipo"></td>
                                            <td bo-text="tipoEncEntrega.totalProd"></td>
                                            <td></td>
                                            <td ng-hide="produzidoTipo"></td>
                                            <td ng-hide="produzidoTipo"></td>
                                            <td ng-hide="produzidoTipo"></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                    <tbody>
                                        <tr class="font-bold">
                                            <td></td>
                                            <td></td>
                                            <td>Total</td>
                                            <td ng-hide="entregaTipo">{{setor.totalPrix}}</td>
                                            <td ng-hide="entregaTipo">{{setor.totalWis}}</td>
                                            <td ng-hide="entregaTipo">{{setor.totalResto}}</td>
                                            <td>{{setor.total}}</td>
                                            <td></td>
                                            <td ng-hide="concluidoTipo">{{setor.totalPrixProd}}</td>
                                            <td ng-hide="concluidoTipo">{{setor.totalWisProd}}</td>
                                            <td ng-hide="concluidoTipo">{{setor.totalRestoProd}}</td>
                                            <td>{{setor.totalProd}}</td>
                                            <td></td>
                                            <td ng-hide="produzidoTipo">0</td>
                                            <td ng-hide="produzidoTipo">0</td>
                                            <td ng-hide="produzidoTipo">0</td>
                                            <td>0</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </accordion-group>
                        <accordion-group heading="Todos os Setores" is-open="true">
                            <div class="table-responsive" ng-show="true">
                                <table class="table table-striped b-t b-light padding-0" data-filter="#filter" data-page-size="50">
                                    <thead>
                                        <tr>
                                            <th colspan="3"></th>
                                            <th colspan="{{entregaCols}}" class="text-center" style="background-color: lightyellow">ENTREGA<a href="" ng-click="expandirEntrega()"><i class="fa fa-plus-square m-r-xs pull-right" ng-hide="!entrega"></i><i class="fa fa-minus-square m-r-xs pull-right" ng-hide="entrega"></i></a></th>
                                            <th colspan="{{concluidoCols}}" class="text-center" style="background-color: lightgreen">CONLUÍDO<a href="" ng-click="expandirConcluido()"><i class="fa fa-plus-square m-r-xs pull-right" ng-hide="!concluido"></i><i class="fa fa-minus-square m-r-xs pull-right" ng-hide="concluido"></i></a></th>
                                            <th colspan="{{produzidoCols}}" class="text-center" style="background-color: aliceblue">PRODUZIDO<a href="" ng-click="expandirProduzido()"><i class="fa fa-plus-square m-r-xs pull-right" ng-hide="!produzido"></i><i class="fa fa-minus-square m-r-xs pull-right" ng-hide="produzido"></i></a></th>
                                        </tr>
                                    </thead>
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Num.</th>
                                            <th>Tipo Encomenda</th>
                                            <th ng-hide="entrega">Priximbattable</th>
                                            <th ng-hide="entrega">Wis Mar NFI</th>
                                            <th ng-hide="entrega">Restantes Clientes</th>
                                            <th>Total</th>
                                            <th></th>
                                            <th ng-hide="concluido">Priximbattable</th>
                                            <th ng-hide="concluido">Wis Mar NFI</th>
                                            <th ng-hide="concluido">Restantes Clientes</th>
                                            <th>Total</th>
                                            <th></th>
                                            <th ng-hide="produzido">Priximbattable</th>
                                            <th ng-hide="produzido">Wis Mar NFI</th>
                                            <th ng-hide="produzido">Restantes Clientes</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr bindonce ng-repeat="tipoEncEntrega in tabelas.tipoEncEntregas">
                                            <td></td>
                                            <td bo-text="tipoEncEntrega.numTipoEncomenda"></td>
                                            <td bo-text="tipoEncEntrega.nomeTipoEncomenda"></td>
                                            <td bo-text="tipoEncEntrega.totalPrix" ng-hide="entrega"></td>
                                            <td bo-text="tipoEncEntrega.totalWis" ng-hide="entrega"></td>
                                            <td bo-text="tipoEncEntrega.totalResto" ng-hide="entrega"></td>
                                            <td bo-text="tipoEncEntrega.total"></td>
                                            <td></td>
                                            <td bo-text="tipoEncEntrega.totalPrixProd" ng-hide="concluido"></td>
                                            <td bo-text="tipoEncEntrega.totalWisProd" ng-hide="concluido"></td>
                                            <td bo-text="tipoEncEntrega.totalRestoProd" ng-hide="concluido"></td>
                                            <td bo-text="tipoEncEntrega.totalProd"></td>
                                            <td></td>
                                            <td ng-hide="produzido"></td>
                                            <td ng-hide="produzido"></td>
                                            <td ng-hide="produzido"></td>
                                            <td ></td>
                                        </tr>
                                    </tbody>
                                    <tbody>
                                        <tr class="font-bold">
                                            <td></td>
                                            <td></td>
                                            <td>Total</td>
                                            <td ng-hide="entrega">{{tabelas.totalEncomendas.totalPrix}}</td>
                                            <td ng-hide="entrega">{{tabelas.totalEncomendas.totalWis}}</td>
                                            <td ng-hide="entrega">{{tabelas.totalEncomendas.totalResto}}</td>
                                            <td>{{tabelas.totalEncomendas.total}}</td>
                                            <td></td>
                                            <td ng-hide="concluido">{{tabelas.totalEncomendas.totalPrixProd}}</td>
                                            <td ng-hide="concluido">{{tabelas.totalEncomendas.totalWisProd}}</td>
                                            <td ng-hide="concluido">{{tabelas.totalEncomendas.totalRestoProd}}</td>
                                            <td>{{tabelas.totalEncomendas.totalProd}}</td>
                                            <td></td>
                                            <td ng-hide="produzido">0</td>
                                            <td ng-hide="produzido">0</td>
                                            <td ng-hide="produzido">0</td>
                                            <td>0</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </accordion-group>
                    </accordion>

                
            </div>
        </div>
</div>
