<div class="" ng-controller="tabela3EncomendasCtrl" ng-if="_utilizador != undefined">
    <div class="" ng-if="show">
        <div class="panel panel-default">
            <div class="panel-heading">
                <ul class="nav nav-pills pull-right">
                    <li ng-if="_utilizador.comercial === false">
                        <a ui-sref="app.encomendas.edit({serie: 0, num: 0})"><i class="glyphicon glyphicon-plus"></i>Novo</a>
                    </li>
                    <!--<li><a href="" ng-click="gerarPdf()"><i class="fa fa-file-pdf-o"></i>PDF</a></li>-->
                </ul>
                Relatório de Encomendas Semanal
            </div>
            <div class="panel-body">
                <form name="form" role="form" class="form-horizontal" ng-submit="submit()">
                    <div class="col-sm-6">

                        <div class="form-group">
                            <label class="col-sm-2 control-label text-right">Serie/Ano</label>
                            <div class="col-sm-2">
                                <!-- <input type="text" ng-model="paramsPesquisa.serie" class="form-control" close-text="Close" />-->
                                <select name="nomeSerie" class="form-control m-b" ng-model="paramsPesquisa.serie"
                                        ng-options="serie.numSerie for serie in series track by serie.numSerie" ng-change="change()"></select>
                            </div>
                            <label class="col-sm-2 control-label text-right">Semana</label>
                            <div class="col-sm-2">
                                <input name="semana" type="number" ng-model="paramsPesquisa.semanaEntrega" min="1" max="{{dados.uSemana}}" class="form-control" close-text="Close" required />
                            </div>
                            <div class="col-sm-4">
                                <label class="col-sm-3 control-label text-right"></label>
                                <div class="col-sm-8">
                                    <button type="submit" class="btn m-b-xs btn-sm btn-primary btn-addon"><i class="fa fa-search"></i>Pesquisar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm-12" ng-if="tabelas.tipoEncEntregas">
            
                    <div class="panel-heading">
                        <h3>Semana {{dados.semana}}/{{dados.serie}}</h3>
                        <br />
                    </div>
                    <accordion ng-if="tabelas.tipoEncEntregas">
                        <accordion-group heading="{{setor.setorNome}}" ng-repeat="setor in setoresEncomenda" ng-if="setor.total > 0">
                            <div class="table-responsive" ng-show="true">
                                <table class="table table-striped b-t b-light padding-0" data-filter="#filter" data-page-size="50">
                                    <thead>
                                        <tr>
                                            <th colspan="3"></th>
                                            <th colspan="5" class="text-center" style="background-color: lightyellow">PARA ENTREGA</th>
                                            <th colspan="4" class="text-center" style="background-color: lightgreen">PRODUZIDO</th>
                                        </tr>
                                    </thead>
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Num.</th>
                                            <th>Tipo Encomenda</th>
                                            <th>Priximbattable</th>
                                            <th>Wis Mar NFI</th>
                                            <th>Restantes Clientes</th>
                                            <th>Total</th>
                                            <th></th>
                                            <th>Priximbattable</th>
                                            <th>Wis Mar NFI</th>
                                            <th>Restantes Clientes</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr bindonce ng-repeat="tipoEncEntrega in tabelas.tipoEncEntregas" ng-if="tipoEncEntrega.setorEncomenda_IdSetorEncomenda == setor.setorId">
                                            <td></td>
                                            <td bo-text="tipoEncEntrega.numTipoEncomenda"></td>
                                            <td bo-text="tipoEncEntrega.nomeTipoEncomenda"></td>
                                            <td bo-text="tipoEncEntrega.totalPrix"></td>
                                            <td bo-text="tipoEncEntrega.totalWis"></td>
                                            <td bo-text="tipoEncEntrega.totalResto"></td>
                                            <td bo-text="tipoEncEntrega.total"></td>
                                            <td></td>
                                            <td bo-text="tipoEncEntrega.totalPrixProd"></td>
                                            <td bo-text="tipoEncEntrega.totalWisProd"></td>
                                            <td bo-text="tipoEncEntrega.totalRestoProd"></td>
                                            <td bo-text="tipoEncEntrega.totalProd"></td>
                                        </tr>
                                    </tbody>
                                    <tbody>
                                        <tr class="font-bold">
                                            <td></td>
                                            <td></td>
                                            <td>Total</td>
                                            <td>{{setor.totalPrix}}</td>
                                            <td>{{setor.totalWis}}</td>
                                            <td>{{setor.totalResto}}</td>
                                            <td>{{setor.total}}</td>
                                            <td></td>
                                            <td>{{setor.totalPrixProd}}</td>
                                            <td>{{setor.totalWisProd}}</td>
                                            <td>{{setor.totalRestoProd}}</td>
                                            <td>{{setor.totalProd}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </accordion-group>
                        <accordion-group heading="Todos os Setores" is-open="true">
                            <div class="table-responsive" ng-show="true">
                                <table class="table table-striped b-t b-light padding-0" data-filter="#filter" data-page-size="50">
                                    <thead>
                                        <tr>
                                            <th colspan="3"></th>
                                            <th colspan="5" class="text-center" style="background-color: lightyellow">PARA ENTREGA</th>
                                            <th colspan="4" class="text-center" style="background-color: lightgreen">PRODUZIDO</th>
                                        </tr>
                                    </thead>
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Num.</th>
                                            <th>Tipo Encomenda</th>
                                            <th>Priximbattable</th>
                                            <th>Wis Mar NFI</th>
                                            <th>Restantes Clientes</th>
                                            <th>Total</th>
                                            <th></th>
                                            <th>Priximbattable</th>
                                            <th>Wis Mar NFI</th>
                                            <th>Restantes Clientes</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr bindonce ng-repeat="tipoEncEntrega in tabelas.tipoEncEntregas">
                                            <td></td>
                                            <td bo-text="tipoEncEntrega.numTipoEncomenda"></td>
                                            <td bo-text="tipoEncEntrega.nomeTipoEncomenda"></td>
                                            <td bo-text="tipoEncEntrega.totalPrix"></td>
                                            <td bo-text="tipoEncEntrega.totalWis"></td>
                                            <td bo-text="tipoEncEntrega.totalResto"></td>
                                            <td bo-text="tipoEncEntrega.total"></td>
                                            <td></td>
                                            <td bo-text="tipoEncEntrega.totalPrixProd"></td>
                                            <td bo-text="tipoEncEntrega.totalWisProd"></td>
                                            <td bo-text="tipoEncEntrega.totalRestoProd"></td>
                                            <td bo-text="tipoEncEntrega.totalProd"></td>
                                        </tr>
                                    </tbody>
                                    <tbody>
                                        <tr class="font-bold">
                                            <td></td>
                                            <td></td>
                                            <td>Total</td>
                                            <td>{{tabelas.totalEncomendas.totalPrix}}</td>
                                            <td>{{tabelas.totalEncomendas.totalWis}}</td>
                                            <td>{{tabelas.totalEncomendas.totalResto}}</td>
                                            <td>{{tabelas.totalEncomendas.total}}</td>
                                            <td></td>
                                            <td>{{tabelas.totalEncomendas.totalPrixProd}}</td>
                                            <td>{{tabelas.totalEncomendas.totalWisProd}}</td>
                                            <td>{{tabelas.totalEncomendas.totalRestoProd}}</td>
                                            <td>{{tabelas.totalEncomendas.totalProd}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </accordion-group>
                    </accordion>

                
            </div>
        </div>
</div>
