
<div class="" ng-controller="seriesTabelaCtrl">
    <div class="panel panel-default">
        <div class="panel-heading">
            <ul class="nav nav-pills pull-right">
                <li><a ui-sref="app.series.edit({id: 0})"><i class="glyphicon glyphicon-plus"></i>Novo</a></li>

            </ul>
            Tabela de Series
        </div>
        <div class="table-responsive">
            <table ng-table="tableParams" show-filter="true" ng-class-odd="odd" ng-class-even="even" class="table table-striped ">
                <tr ng-repeat="series in $data">
                    <td data-title="'Num'" sortable="'numSerie'" filter="{ 'numSerie': 'text' }" width="10%">
                        {{series.numSerie}}
                    </td>
                    <td data-title="'Nome'" sortable="'nome'" width="75%" filter="{ 'nome': 'text' }">{{series.nome}}</td>
                    <td data-title="'Anulado'" sortable="'inativa'" width="5%" filter="{ 'inativa': 'text' }">
                        <input type="checkbox" disabled ng-model="series.inativa">
                    </td>
                    <td data-title="'Defeito'" sortable="'serieDefeito'" width="5%" filter="{ 'serieDefeito': 'text' }">
                        <input type="checkbox" disabled ng-model="series.serieDefeito">
                    </td>
                    <td data-title="''" width="15%">
                        <a href="" class="btn m-b-xs btn-xs btn-info btn-addon" ui-sref="app.series.edit({id:  series.numSerie })">Editar</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>