
<div class="" ng-controller="TipoEncomendaEditCtrl">
    <div class="panel panel-default">
        <div class="panel-heading">
            <ul class="nav nav-pills pull-right">
                <li><a href="" class="" ui-sref="app.tipoEncomendas.edit({id: 0})"><i class="glyphicon glyphicon-plus"></i>Novo</a></li>
                <li><a href="" class="" ui-sref="app.tipoEncomendas.edit({id: dados.idAnt})"><i class="fa fa-arrow-left"></i></a></li>
                <li><a href="" class="" ui-sref="app.tipoEncomendas.edit({id: dados.idProx})"><i class="fa fa-arrow-right"></i></a></li>
            </ul>
            Editar TipoEncomenda

        </div>
        <div class="panel-body">
            <form name="form" class="form-horizontal form-validation" ng-submit="submit()">
                <div class="form-group">
                    <label class="col-lg-2 control-label">Num TipoEncomenda</label>
                    <div class="col-lg-4">
                        <input ng-model="tipoEncomenda.numTipoEncomenda" ui-jq="TouchSpin" type="text" class="form-control" name="numTipoEncomenda" data-min='0' data-max='200' data-verticalbuttons="true" data-verticalupclass="fa fa-caret-up" data-verticaldownclass="fa fa-caret-down">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label" required>Nome</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" name="nome" placeholder="Nome" ng-model="tipoEncomenda.nome" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Setor</label>
                    <div class="col-md-6 col-md-offset-0">
                        <ui-select ng-model="select.setorId" theme="select2" ng-disabled="disabled" style="min-width: 300px;" required>
                            <ui-select-match placeholder="Lista de Setores">{{$select.selected.nome}}</ui-select-match>
                            <ui-select-choices repeat="te in dadosExtra.setoresEncomenda | propsFilter: {nome: $select.search}">
                                <div ng-bind-html="te.nome | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <div class="form-group" style="margin-top: 15px; margin-bottom: 10px">
                    <label class="col-lg-2 control-label">Capacidade<br />semanal</label>
                    <div class="col-lg-1">
                        Priximbattible<input ng-model="tipoEncomenda.capacidadePrix" ui-jq="TouchSpin" type="text" class="form-control" name="capacidadePrix" data-min='0' data-max='10000' data-verticalbuttons="true" data-verticalupclass="fa fa-caret-up" data-verticaldownclass="fa fa-caret-down" required>
                    </div>
                    <div class="col-lg-1">
                        Wis Mar NFI<input ng-model="tipoEncomenda.capacidadeWis" ui-jq="TouchSpin" type="text" class="form-control" name="capacidadeWis" data-min='0' data-max='10000' data-verticalbuttons="true" data-verticalupclass="fa fa-caret-up" data-verticaldownclass="fa fa-caret-down" required>
                    </div>
                    <div class="col-lg-1">
                        Restantes Clientes<input ng-model="tipoEncomenda.capacidadeResto" ui-jq="TouchSpin" type="text" class="form-control" name="capacidadeResto" data-min='0' data-max='10000' data-verticalbuttons="true" data-verticalupclass="fa fa-caret-up" data-verticaldownclass="fa fa-caret-down" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-2 control-label"></label>
                    <div class="col-lg-10">
                        <label class="checkbox-inline">
                            <input type="checkbox" ng-model="tipoEncomenda.anulado"> Anulado
                        </label>

                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <button type="submit" class="btn btn-info" ng-disabled="form.$invalid">Guardar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


