<form name="perfilAlterarPassword" ng-submit="ok()" ng-enter="ok();" class=" form-validation" ng-keypress="tecla($event)">
    <div class="modal-header">
        <h3 class="modal-title">Alterar Password</h3>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label class="control-label"><strong>Password Antiga</strong></label>

            <div class="input-group w-md">
                <input type="Password" class="form-control" name="pwAntiga" ng-model="modalPw.pwAntiga" ng-required="true" />

            </div>

        </div>
        <div class="form-group">
            <label class="control-label">Nova Password</label>
            <div class="input-group w-md">
                <input type="Password" class="form-control" placeholder="Password" name="pwNova" ng-model="modalPw.pwNova">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group w-md">
                <input type="Password" class="form-control" placeholder="Confirmar Password" name="confirm_password" required ng-model="modalPw.pwNova2" ui-validate=" '$value==modalPw.pwNova' " ui-validate-watch=" 'pwNova' ">
                <span ng-show='perfilAlterarPassword.pwNova2.$error.validator'>Passwords não coincidem</span>
            </div>
        </div>
        <br />
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="cancel()">Cancelar</button>
        <button type="submit" class="btn btn-info" ng-disabled="perfilAlterarPassword.$invalid">Guardar</button>
    </div>

</form>
