
<div class="" ng-controller="EstadoRecolhaEditCtrl">
    <div class="panel panel-default">
        <div class="panel-heading">
            <ul class="nav nav-pills pull-right">
                <li><a href="" class="" ui-sref="app.estadoRecolhas.edit({id: 0})"><i class="glyphicon glyphicon-plus"></i>Novo</a></li>               
            </ul>
            Editar Estado Recolha

        </div>
        <div class="panel-body">
            <form name="form" class="form-horizontal form-validation" ng-submit="submit()">
                <div class="form-group">
                    <label class="col-lg-2 control-label">Id EstadoRecolha</label>
                    <div class="col-lg-4">
                        <input ng-model="estadoRecolha.id" ui-jq="TouchSpin" type="text" class="form-control" name="numEstadoRecolha" data-min='0' data-verticalbuttons="true" data-verticalupclass="fa fa-caret-up" data-verticaldownclass="fa fa-caret-down">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label" required>Nome</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" name="nome" placeholder="Nome" ng-model="estadoRecolha.nomeEstado" required ng-minlength="3">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Cor</label>
                    <div class="col-lg-2 inline">

                        <input colorpicker="hex" type="text" ng-model="estadoRecolha.cor" style="width:80px;float:left;" />
                        <input type="color" class="form-control" name="nome" placeholder="cor" ng-model="estadoRecolha.cor" style="width: 30px;float:left;" required>
                        <!--<select ng-model="estadoRecolha.cor" class="form-control m-b" name="producao">
        <option value="1">Branco</option>
        <option value="2">Verde</option>
        <option value="3">Amarelo</option>
        <option value="4">Azul</option>
        <option value="5">Vermelho</option>
        <option value="6">Laranja</option>
    </select>-->
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label"></label>
                    <div class="col-lg-10">
                        <label class="checkbox-inline">
                            <input type="checkbox" ng-model="s.anulado"> Anulado
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" ng-model="estadoRecolha.estadoFechaRecolha"> Marcar Como Fechada
                        </label>                  
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <button type="submit" class="btn btn-info" ng-disabled="form.$invalid">Guardar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


