
<div class="" ng-controller="estadoSavsTabelaCtrl">
    <div class="panel panel-default">
        <div class="panel-heading">
            <ul class="nav nav-pills pull-right">
                <li><a ui-sref="app.estadoSav.edit({id: 0})"><i class="glyphicon glyphicon-plus"></i>Novo</a></li>

            </ul>
            Tabela de EstadoSav
        </div>
        <div class="table-responsive">
            <table ng-table="tableParams" show-filter="true" ng-class-odd="odd" ng-class-even="even" class="table table-striped ">
                <tr ng-repeat="estadoSav in $data">
                    <td data-title="'Num'" sortable="'numEstadoSav'" filter="{ 'numEstadoSav': 'text' }" width="10%">
                        {{estadoSav.numEstadoSav}}
                    </td>
                    <td data-title="'Nome'" sortable="'nome'" width="75%" filter="{ 'nome': 'text' }">{{estadoSav.nome}}</td>
                    <td data-title="'Anulado'" sortable="'anulado'" width="75%" filter="{ 'anulado': 'text' }">
                        <input type="checkbox" disabled ng-model="estadoSav.anulado">
                    </td>
                    <td data-title="''" width="15%">
                        <a class="btn m-b-xs btn-xs btn-info btn-addon" ui-sref="app.estadoSav.edit({id:  estadoSav.numEstadoSav })">Editar</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>