
<div class="" ng-controller="tipoAvariasTabelaCtrl">
    <div class="panel panel-default">
        <div class="panel-heading">
            <ul class="nav nav-pills pull-right">
                <li><a ui-sref="app.tipoAvarias.edit({id: 0})"><i class="glyphicon glyphicon-plus"></i>Novo</a></li>

            </ul>
            Tabela de TipoAvarias
        </div>
        <div class="table-responsive">
            <table ng-table="tableParams" show-filter="true" ng-class-odd="odd" ng-class-even="even" class="table table-striped ">
                <tr ng-repeat="tipoAvaria in $data">
                    <td data-title="'Num'" sortable="'numTipoAvaria'" filter="{ 'numTipoAvaria': 'text' }" width="10%">
                        {{tipoAvaria.numTipoAvaria}}
                    </td>
                    <td data-title="'Nome'" sortable="'nome'" width="75%" filter="{ 'nome': 'text' }">{{tipoAvaria.nome}}</td>
                    <td data-title="'Anulado'" sortable="'anulado'" width="75%" filter="{ 'anulado': 'text' }">
                        <input type="checkbox" disabled ng-model="tipoAvaria.anulado">
                    </td>
                    <td data-title="''" width="15%">
                        <a href="" class="btn m-b-xs btn-xs btn-info btn-addon" ui-sref="app.tipoAvarias.edit({id:  tipoAvaria.numTipoAvaria })">Editar</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>